.additionalInfo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
  border-top-width: 1px;
}
.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  height: fit-content;
  padding: 0px 21px 0px 0px;
  position: relative;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
}
.priceText {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(133, 133, 132);
  font-size: 12px;
  font-family: Space Mono;
  font-weight: 400;
  line-height: 1.1em;
}
.text1_63Eth {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Space Mono;
  font-weight: 400;
  line-height: 1.4em;
}
.highestBid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
}
.highestBidText {
  height: fit-content;
  text-align: end;
  width: 100%;
  flex-shrink: 0;
  color: rgb(133, 133, 132);
  font-size: 12px;
  font-family: Space Mono;
  font-weight: 400;
  line-height: 1.1em;
}
.text0_33WEth {
  height: fit-content;
  text-align: end;
  width: 100%;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Space Mono;
  font-weight: 400;
  line-height: 1.4em;
}
