.aProposDropdown0 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: fit-content;
  height: fit-content;
}
.aProposDropdown1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  position: relative;
}
.aProposDropdown2 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(96, 96, 96);
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.5em;
}
.aProposDropdown3 {
  rotate: -270deg;
  transform: scale(-164%, 164%);
  transform-origin: top left;
  width: 6px;
  height: 12px;
}
.aProposDropdown4 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  height: fit-content;
  width: fit-content;
}
.aProposDropdown5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  position: relative;
}
.aProposDropdown6 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(239, 121, 12);
  font-size: 16px;
  letter-spacing: -0.03em;
  line-height: 1.5em;
}
.aProposDropdown7 {
  rotate: -90deg;
  transform: scale(-263%, 263%);
  transform-origin: top left;
  width: 6px;
  height: 12px;
}
.aProposDropdown8 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  height: fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  position: relative;
  box-shadow: 4pxpx 57pxpx 100pxpx rgb(0, 0, 0, 0.19);
  background-color: rgb(250, 250, 250);
}
.aProposDropdown9 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  position: relative;
}
.aProposDropdown10 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  position: relative;
}
.aProposDropdown11 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  position: relative;
}
.aProposDropdown12 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  position: relative;
}
