.artistCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  width: 240px;
  background-color: rgb(59, 59, 59);
}
.artistAvatar{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-shrink: 0;
}
.artistInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.dishStudio{
  height: fit-content;
  text-align: center;
  width: 100%;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 1.4em;
}
.additionalInfo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.totalSales{
  height: fit-content;
  text-align: end;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
  color: rgb(133, 133, 132);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.4em;
}
.text_34_53Eth{
  height: fit-content;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Space Mono;
  font-weight: 400;
  line-height: 1.4em;
}
.rankingNumber{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  border-radius: 20px;
  position: absolute;
  width: 30px;
  left: 20px;
  top: 18px;
  background-color: rgb(43, 43, 43);
}
.text_1{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: calc(50% - 5px);
  top: calc(50% - 11px);
  color: rgb(133, 133, 132);
  font-size: 16px;
  font-family: Space Mono;
  font-weight: 400;
  line-height: 1.4em;
}
.artistCardComponent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  width: 315px;
  background-color: rgb(59, 59, 59);
}
.artistAvatarDiv{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-shrink: 0;
}
.artistInfoDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
}
.dishStudioText{
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 1.4em;
}
.additionalInfoDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.totalSalesText{
  height: fit-content;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
  color: rgb(133, 133, 132);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.4em;
}
.text_34_53EthText{
  height: fit-content;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Space Mono;
  font-weight: 400;
  line-height: 1.4em;
}
.rankingNumberDiv{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  border-radius: 20px;
  position: absolute;
  width: 30px;
  left: 12px;
  top: 13px;
  background-color: rgb(43, 43, 43);
}
.text_1Text{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: calc(50% - 5px);
  top: calc(50% - 11px);
  color: rgb(133, 133, 132);
  font-size: 16px;
  font-family: Space Mono;
  font-weight: 400;
  line-height: 1.4em;
}
.artistCardComponent_1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: rgb(59, 59, 59);
}
.dishStudioText_1{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 1.4em;
}
.artistCardComponent_2{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: rgb(59, 59, 59);
}
.dishStudioText_2{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.4em;
}