.auctionTimer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  backdrop-filter: blur(5px);
  width: 295px;
  background-color: rgb(59, 59, 59, 0.5);
}
.auctionEndsIn {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: Space Mono;
  font-weight: 400;
  line-height: 1.1em;
}
.timer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.hours {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
}
.text59 {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.2em;
}
.hoursText {
  width: 100%;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-height: 0px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: Space Mono;
  font-weight: 400;
  line-height: 1.1em;
}
.text {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.4em;
}
.minutes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
}
.text59Text {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.2em;
}
.minutesText {
  width: 100%;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-height: 0px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: Space Mono;
  font-weight: 400;
  line-height: 1.1em;
}
.textText {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.4em;
}
.seconds {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
}
.text59Text1 {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.2em;
}
.secondsText {
  width: 100%;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-height: 0px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: Space Mono;
  font-weight: 400;
  line-height: 1.1em;
}
