.avatar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  position: relative;
}
.bigAvatar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  position: relative;
}
.smallAvatar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  position: relative;
}