.avatar_14 {
  position: relative;
  width: 120px;
  height: 120px;
}
.avatarPlaceholder {
  position: absolute;
  right: 0%;
  width: calc(100%);
  bottom: 0%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  border-radius: 120px;
}
