.avatarContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  position: relative;
}
.avatarComponentContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  position: relative;
}
.avatarComponent1Container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  position: relative;
}