.berlin {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: fit-content;
  position: relative;
  height: 563.76px;
  background: ;
}
.berlinImage {
  width: 376px;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  opacity: 1;
  border-radius: 20px;
}
