.browseCategories {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 60px;
  height: fit-content;
  padding-left: 195px;
  padding-right: 195px;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 1440px;
  background-color: rgb(43, 43, 43);
  position: relative;
}
.sectionHeadline {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  height: fit-content;
  position: relative;
  width: 100%;
}
.browseCategoriesText {
  width: 630px;
  flex: 1 1 0%;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 1.2000000476837158em;
}
.categoryCardsGrid {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  height: fit-content;
  position: relative;
  width: 100%;
}
.categoryCardsRow {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 30px;
  height: fit-content;
  position: relative;
  width: 100%;
}
.categoryCardsRowDiv {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 30px;
  height: fit-content;
  position: relative;
  width: 100%;
}
.browseCategoriesComponent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
  height: fit-content;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 834px;
  background-color: rgb(43, 43, 43);
  position: relative;
}
.sectionHeadlineDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  height: fit-content;
  position: relative;
  width: 690px;
}
.browseCategoriesText1 {
  height: fit-content;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 1.399999976158142em;
}
.categoryCardsGridDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  position: relative;
  width: 690px;
  height: 470px;
}
.categoryCardsRowDiv1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 30px;
  position: relative;
  width: 100%;
  height: 209px;
}
.categoryCardsRowDiv2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 30px;
  position: relative;
  width: 100%;
  height: 231px;
}
.browseCategoriesComponent1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
  height: fit-content;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 375px;
  background-color: rgb(43, 43, 43);
  position: relative;
}
.sectionHeadlineDiv1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  height: fit-content;
  position: relative;
  width: 315px;
}
.browseCategoriesText2 {
  width: 100%;
  flex: 1 1 0%;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 1.399999976158142em;
}
.categoryCardsGridDiv1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  position: relative;
  width: 315px;
  height: 918px;
}
.categoryCardsRowDiv3 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 20px;
  position: relative;
  width: 100%;
  height: 209px;
}
.categoryCardsRowDiv4 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 20px;
  position: relative;
  width: 100%;
  height: 209px;
}
.categoryCardsRowDiv5 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 20px;
  position: relative;
  width: 100%;
  height: 209px;
}
.categoryCardsRowDiv6 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 20px;
  position: relative;
  width: 100%;
  height: 231px;
}
