.buttonCorner{
  position: absolute;
  rotate: 45deg;
  width: 16px;
  left: 11px;
  height: 31px;
  top: -11px;
  background-color: rgb(255, 255, 255);
}
.buttonPrimary{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  position: relative;
  width: 120px;
  height: 40px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 2px;
}
.buttonCornerDiv{
  position: absolute;
  rotate: 45deg;
  width: 16px;
  left: 11px;
  height: 31px;
  top: -11px;
  background-color: rgb(255, 255, 255);
}
.buttonPrimaryLeft{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  position: relative;
  width: 120px;
  height: 40px;
  background-color: rgb(77, 132, 240);
}
.buttonCornerDiv1{
  position: absolute;
  rotate: 45deg;
  width: 16px;
  left: 11px;
  height: 31px;
  top: -11px;
  background-color: rgb(255, 255, 255);
}
.buttonSecondary{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  position: relative;
  width: 120px;
  height: 40px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 2px;
}
.buttonCornerDiv2{
  position: absolute;
  rotate: 45deg;
  width: 16px;
  left: 11px;
  height: 31px;
  top: -11px;
  background-color: rgb(255, 255, 255);
}
.buttonPrimaryRight{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  position: relative;
  width: 120px;
  height: 40px;
  background-color: rgb(77, 132, 240);
}