.champagne_3Page0 {
  position: absolute;
  width: 446px;
  height: 463px;
  overflow: hidden;
}
.champagne_3Page1 {
  transform: rotate(138.58deg) translate(0.44%, -1.32%) scale(95.9%, 38.49%);
  height: 100%;
  width: 100%;
}
