.champagne_3Page0 {
  position: absolute;
  width: 446px;
  height: 463px;
  overflow: hidden;
}
.champagne_3Page1 {
  transform: rotate(172.08deg) translate(0.05%, -0.95%) scale(97.38%, 37.93%);
  height: 100%;
  width: 100%;
}
