.city {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  width: 376px;
}
.background {
  overflow: hidden;
  border-radius: 20px;
  position: absolute;
  width: 376px;
  height: 562px;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255, 0.63) 0%,
    rgb(0, 0, 0, 0) 100%
  );
}
.rectangle_1 {
  position: absolute;
  right: 0%;
  width: calc(100%);
  bottom: 0%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgb(13, 14, 16, 0.63) 0%,
    rgb(217, 217, 217, 0) 100%
  );
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 34px 24px;
  position: absolute;
  width: 376px;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-shrink: 0;
}
.title {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  flex-shrink: 0;
  color: rgb(15, 33, 43);
  font-size: 20px;
  font-family: Quicksand;
  font-weight: 600;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 9px;
  width: fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
}
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  width: fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
}
.ticket {
  overflow: hidden;
  position: relative;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.ticketImage {
  position: absolute;
  left: 1.17px;
  right: -1.17px;
  width: auto;
  top: 2.33px;
  bottom: -2.33px;
  height: auto;
}
.text_80 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  flex-shrink: 0;
  color: rgb(15, 33, 43);
  font-size: 10px;
  font-family: Quicksand;
  font-weight: 400;
}
.time {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2px;
  width: fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
}
.timeCircle {
  overflow: hidden;
  position: relative;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.timeCircleImage {
  position: absolute;
  left: 1.17px;
  right: -1.17px;
  width: auto;
  top: 1.17px;
  bottom: -1.17px;
  height: auto;
}
.text3Hours {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  flex-shrink: 0;
  color: rgb(15, 33, 43);
  font-size: 10px;
  font-family: Quicksand;
  font-weight: 400;
}
.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
}
.image {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255, 255, 255, 0.37);
  object-fit: cover;
  opacity: 1;
  border-radius: 50%;
}
.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-shrink: 0;
}
.nameText {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Quicksand;
  font-weight: 700;
}
.position {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: Quicksand;
  font-weight: 400;
}
