.colors-figma-size-small-page-0 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: fit-content;
  width: fit-content;
  border-radius: 2px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(68, 68, 68);
  background-color: rgb(68, 68, 68);
}
.colors-figma-size-small-page-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 4px;
  position: relative;
  width: 100%;
  height: 75px;
}
.colors-figma-size-small-page-2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 23px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  width: 100%;
  background-color: rgb(30, 30, 30);
}
.colors-figma-size-small-page-3 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
}
.colors-figma-size-small-page-0 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: fit-content;
  width: fit-content;
  border-radius: 2px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(68, 68, 68);
  background-color: rgb(68, 68, 68);
}
.colors-figma-size-small-page-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 4px;
  position: relative;
  width: 100%;
  height: 75px;
}
.colors-figma-size-small-page-2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 23px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  width: 100%;
  background-color: rgb(30, 30, 30);
}
.colors-figma-size-small-page-3 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
}
