.comboPage0 {
  width: 27px;
  height: 29.68px;
  overflow: hidden;
}
.comboPage1 {
  transform: rotate(-47.7deg) scale(32.28%, 94.76%) translate(-82.14%, 92.84%);
  transform-origin: top left;
  height: 100%;
  width: 100%;
}
