.communitiesLinksArrowRight_420 {
  overflow: hidden;
  width: 42px;
  height: 42px;
}
.communitiesLinksArrowRight_421 {
  position: absolute;
  left: 8px;
  right: 8px;
  width: auto;
  top: 8px;
  bottom: 8px;
  height: auto;
}
