.communitiesSubscriptionsAll0 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  box-shadow: inset 0px -1px 0px rgb(211, 217, 222, 1);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(231, 232, 236);
  background-color: rgb(255, 255, 255);
  position: relative;
}
.communitiesSubscriptionsAll1 {
  position: relative;
  width: 134px;
  height: 32px;
}
.communitiesSubscriptionsAll2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: fit-content;
  padding-left: 7px;
  padding-right: 7px;
  position: absolute;
  left: 0px;
  height: 40px;
  top: 0px;
}
.communitiesSubscriptionsAll3 {
  width: 6px;
  height: 6px;
}
.communitiesSubscriptionsAll4 {
  width: 8px;
  height: 8px;
}
