.cardComponent{
  overflow: hidden;
  border-radius: 2px;
  position: relative;
  width: 132px;
  height: 138px;
  flex-shrink: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(68, 68, 68);
  background-color: rgb(68, 68, 68);
}
.imageWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 2px 5px 4px;
  position: absolute;
  width: 90px;
  height: 75px;
}
.textContent{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 4px 10px;
  position: absolute;
  width: 90px;
  top: 75px;
  background-color: rgb(30, 30, 30);
}
.cardTitle{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
}