.content {
  overflow: hidden;
  position: relative;
  width: 1440px;
  height: 799px;
  flex-shrink: 0;
}
.objectFitCoverOpacity_1d2e2e0e68f0404c71db06348976ba084f36ad43a {
  object-fit: cover;
  opacity: 1;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
.frame_2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  height: fit-content;
  padding: 24px;
  border-radius: 14px;
  position: absolute;
  box-shadow: 0px 4px 10px 4px rgb(0, 0, 0, 0.15);
  width: 581px;
  left: calc(50% - 290px);
  top: calc(50% - 192px);
  background-color: rgb(255, 255, 255);
}
.heading {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.inviteTeammates {
  height: fit-content;
  text-align: center;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
  color: rgb(244, 86, 154);
  font-size: 30px;
  font-family: Avenir;
  font-weight: 800;
}
.teammates {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-shrink: 0;
}
.emailInput {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  position: relative;
  width: 533px;
  height: 120px;
  flex-shrink: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(217, 217, 217);
  background-color: rgb(245, 241, 241);
}
.frame_12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
}
.enterTeammateEmails {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgb(148, 148, 148);
  font-size: 15px;
  font-family: Avenir;
  font-weight: 500;
}
.text1AdditionalSeatInvited {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgb(148, 148, 148);
  font-size: 15px;
  font-family: Avenir;
  font-weight: 500;
}
