.image {
  position: absolute;
  right: 0%;
  width: 100%;
  bottom: 0%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  border-radius: 6px;
}
.delete {
  position: relative;
  width: 80px;
  height: 55px;
}
