.destination {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: fit-content;
  border-radius: 20px;
  position: relative;
}
.objectFitCoverOpacity_1e774c6113f994325cf46fc15463bfab22bd57037 {
  opacity: 1;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
.backgroundLinearGradient180degRgb217_217_217_0_00_0pcRgb0_0_0_0_20_100pc {
  background: linear-gradient(
    180deg,
    rgb(217, 217, 217, 0) 0%,
    rgb(0, 0, 0, 0.2) 100%
  );
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 34px;
  padding-bottom: 34px;
  position: relative;
  width: 376px;
  height: 100%;
  flex-shrink: 0;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-shrink: 0;
}
.title {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  flex-shrink: 0;
  color: rgb(15, 33, 43);
  font-size: 20px;
  font-family: Quicksand;
  font-weight: 600;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 9px;
  width: fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2px;
  width: fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
}
.ticket {
  overflow: hidden;
  position: relative;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.ticketImage {
  position: absolute;
  left: 1.17px;
  right: -1.17px;
  width: auto;
  top: 2.33px;
  bottom: -2.33px;
  height: auto;
}
.text_80 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  flex-shrink: 0;
  color: rgb(15, 33, 43);
  font-size: 10px;
  font-family: Quicksand;
  font-weight: 400;
}
.time {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  gap: 2px;
  width: fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
}
.timeCircle {
  overflow: hidden;
  position: relative;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}
.timeCircleImage {
  position: absolute;
  left: 1.17px;
  right: -1.17px;
  width: auto;
  top: 1.17px;
  bottom: -1.17px;
  height: auto;
}
.text3Hours {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  flex-shrink: 0;
  color: rgb(15, 33, 43);
  font-size: 10px;
  font-family: Quicksand;
  font-weight: 400;
}
.label {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
  width: fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
}
.image {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255, 255, 255, 0.37);
  object-fit: cover;
  opacity: 1;
  border-radius: 50%;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-shrink: 0;
}
.nameText {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Quicksand;
  font-weight: 700;
}
.position {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: Quicksand;
  font-weight: 400;
}
