.discoverSwitzerlandChooseTheBestProgramsGuidesHotelsAndRestaurants {
  height: fit-content;
  text-align: center;
  width: 469px;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: Quicksand;
  font-weight: 400;
  letter-spacing: -0.03em;
}
