.dragHandle{
  position: relative;
  width: 8px;
  height: 5px;
}
.circleSmall{
  position: absolute;
  right: 75%;
  width: calc(25%);
  bottom: 60%;
  height: 40%;
  background-color: rgb(160, 160, 160);
  border-radius: 50%;
}
.circleLarge{
  position: absolute;
  left: 75%;
  right: 0%;
  width: calc(25%);
  bottom: 60%;
  height: 40%;
  background-color: rgb(160, 160, 160);
  border-radius: 50%;
}
.circleMedium{
  position: absolute;
  left: 37.5%;
  right: 37.5%;
  width: calc(25%);
  bottom: 60%;
  height: 40%;
  background-color: rgb(160, 160, 160);
  border-radius: 50%;
}
.circleExtraLarge{
  position: absolute;
  right: 75%;
  width: calc(25%);
  top: 60%;
  bottom: 0%;
  height: 40%;
  background-color: rgb(160, 160, 160);
  border-radius: 50%;
}
.circleExtraSmall{
  position: absolute;
  left: 75%;
  right: 0%;
  width: calc(25%);
  top: 60%;
  bottom: 0%;
  height: 40%;
  background-color: rgb(160, 160, 160);
  border-radius: 50%;
}
.circleGiant{
  position: absolute;
  left: 37.5%;
  right: 37.5%;
  width: calc(25%);
  top: 60%;
  bottom: 0%;
  height: 40%;
  background-color: rgb(160, 160, 160);
  border-radius: 50%;
}