.dropdownPage {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 6px;
  height: fit-content;
  padding-left: 2px;
  padding-right: 2px;
  position: relative;
  width: 99px;
}
.arrow {
  rotate: 90deg;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
}
.dropdown {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
}
