.dropdown {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 6px;
  height: fit-content;
  padding-left: 2px;
  padding-right: 2px;
  position: relative;
  width: 100%;
}
.arrow {
}
.dropdownDiv {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Inter;
  font-weight: 400;
}
