.ellipse_30 {
  width: 49px;
  height: 49px;
  position: relative;
}
.ellipse_31 {
  position: absolute;
  left: calc(0%);
  right: calc(0%);
  width: calc(100%);
  top: calc(0%);
  bottom: calc(0%);
  height: calc(100%);
  background-color: rgb(63, 232, 100);
  border-radius: 50%;
}
