.figmaImage {
  width: 12px;
  height: 18px;
  flex-shrink: 0;
  object-fit: cover;
  opacity: 1;
}
.figmaLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: rgb(250, 250, 250);
}
