.footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 49px;
  height: fit-content;
  padding-left: 195px;
  padding-right: 195px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  width: 1439.41px;
  background-color: rgb(59, 59, 59);
}
.footerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.nftMarketplaceInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  height: fit-content;
  padding-right: 84px;
  position: relative;
  width: 327.41px;
  flex-shrink: 0;
}
.nftMarketplace {
  position: absolute;
  width: 199.41px;
  left: 44px;
  height: 19.8px;
  top: 8.6px;
}
.additionalInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-shrink: 0;
}
.nftMarketplaceUiCreatedWithAnimaForFigma {
  height: fit-content;
  width: 238px;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.communityInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-shrink: 0;
}
.joinOurCommunity {
  width: 238px;
  height: 18px;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
}
.explore {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 25px;
  height: fit-content;
  position: relative;
  width: 240px;
  flex-shrink: 0;
}
.exploreText {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.600000023841858em;
}
.pages {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-shrink: 0;
}
.marketplace {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.rankings {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.connectAWallet {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 25px;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-shrink: 0;
}
.joinOurWeeklyDigest {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.600000023841858em;
}
.subscribeFormAndInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  width: fit-content;
  position: relative;
  flex-shrink: 0;
}
.getExclusivePromotionsAndUpdatesStraightToYourInbox {
  height: fit-content;
  width: 330px;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.frame_239 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.divider {
  rotate: -0deg;
  width: 100%;
  height: 0px;
  flex-shrink: 0;
}
.nftMarketUseThisTemplateFreely {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 12px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.100000023841858em;
}
.footerComponent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 49px;
  height: fit-content;
  padding-left: 195px;
  padding-right: 195px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  width: 834px;
  background-color: rgb(59, 59, 59);
}
.footerInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  height: fit-content;
  position: relative;
  width: 690px;
  flex-shrink: 0;
}
.nftMarketplaceInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.nftMarketplaceImage {
  position: absolute;
  width: 199.41px;
  left: 44px;
  height: 19.8px;
  top: 8.6px;
}
.additionalInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.nftMarketplaceUiCreatedWithAnimaForFigmaText {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.communityInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.joinOurCommunityText {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.iconsDiv {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
}
.exploreDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.exploreText1 {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.600000023841858em;
}
.pagesDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.marketplaceText {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.rankingsText {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.connectAWalletText {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.subscribeDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.joinOurWeeklyDigestText {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.600000023841858em;
}
.subscribeFormAndInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.getExclusivePromotionsAndUpdatesStraightToYourInboxText {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.frame_239Div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  position: relative;
  width: 690px;
  flex-shrink: 0;
}
.dividerImage {
  rotate: -0deg;
  width: 100%;
  height: 0px;
  flex-shrink: 0;
}
.nftMarketUseThisTemplateFreelyText {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 12px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.100000023841858em;
}
.footerComponent1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  height: fit-content;
  padding-left: 195px;
  padding-right: 195px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  width: 375px;
  background-color: rgb(59, 59, 59);
}
.footerInfoDiv1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  height: fit-content;
  position: relative;
  width: 315px;
  flex-shrink: 0;
}
.nftMarketplaceInfoDiv1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.nftMarketplaceImage1 {
  position: absolute;
  width: 199.41px;
  left: 44px;
  height: 19.8px;
  top: 8.6px;
}
.additionalInfoDiv1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.nftMarketplaceUiCreatedWithAnimaForFigmaText1 {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.communityInfoDiv1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.joinOurCommunityText1 {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.iconsDiv1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
}
.exploreDiv1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.exploreText2 {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.600000023841858em;
}
.pagesDiv1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.marketplaceText1 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.rankingsText1 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.connectAWalletText1 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.subscribeDiv1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.joinOurWeeklyDigestText1 {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Space Mono;
  font-weight: 700;
  line-height: 1.600000023841858em;
}
.subscribeFormAndInfoDiv1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.getExclusivePromotionsAndUpdatesStraightToYourInboxText1 {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.frame_239Div1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  height: fit-content;
  position: relative;
  width: 315px;
  flex-shrink: 0;
}
.dividerImage1 {
  rotate: -0deg;
  width: 100%;
  height: 0px;
  flex-shrink: 0;
}
.nftMarketUseThisTemplateFreelyText1 {
  height: fit-content;
  width: 100%;
  flex-shrink: 0;
  color: rgb(204, 204, 204);
  font-size: 12px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.100000023841858em;
}
