.forTheFirst_12MonthsPage {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 25px;
  top: 28px;
  font-size: 11px;
  font-family: Menlo;
  font-weight: 400;
  line-height: 20px;
}
