.frame_2Page0 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 41px;
  padding-bottom: 41px;
  position: absolute;
  background-color: rgb(255, 255, 255);
}
.frame_2Page1 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 36px;
}
