.frameContainer{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  padding: 37px 59px;
  position: relative;
  background-color: rgb(255, 255, 255);
}
.textVisible{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  flex-shrink: 0;
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 1.4em;
}