.frame_9Page0 {
  position: absolute;
  left: calc(53.20665042167079%);
  right: calc(38.581608833251%);
  width: calc(8.21174074507821%);
  top: calc(64.96551724137932%);
  bottom: calc(18.89655172413793%);
  height: calc(16.137931034482754%);
}
