.frame_1Page0 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: absolute;
  width: 219px;
  height: 126px;
  background-color: rgb(194, 96, 96);
}
.frame_1Page1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  width: 184px;
  height: 13px;
  font-size: 10px;
  font-family: Inter;
  font-weight: 400;
}
.frame_1Page2 {
  overflow: hidden;
  width: 100%;
  height: undefined;
  flex: 1 1 0%;
  background-color: rgb(255, 255, 255);
}
