.roundedFull{
  overflow: hidden;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  background-color: rgb(227, 0, 0);
}
.roundedExtraLarge{
  overflow: hidden;
  border-radius: 24px;
  width: 130px;
  height: 130px;
  flex-shrink: 0;
  background-color: rgb(227, 0, 0);
}
.roundedDoubleExtraLarge{
  overflow: hidden;
  border-radius: 16px;
  width: 130px;
  height: 130px;
  flex-shrink: 0;
  background-color: rgb(227, 0, 0);
}
.frameContainer{
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  gap: 81px;
  width: 100%;
  height: fit-content;
  padding: 54px 101px;
  position: relative;
  flex-shrink: 0;
  background-color: rgb(211, 211, 211);
}