.frame_15Page0 {
  overflow: hidden;
  position: absolute;
  width: 1942px;
  height: 1231px;
  background-color: rgb(241, 241, 241);
}
.frame_15Page1 {
  overflow: hidden;
  position: absolute;
  width: 400px;
  left: 138px;
  height: 400px;
  top: 122px;
}
.frame_15Page2 {
  object-fit: cover;
  opacity: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}
.frame_15Page3 {
  overflow: hidden;
  position: absolute;
  width: 400px;
  left: 138px;
  height: 400px;
  top: 649px;
}
.frame_15Page4 {
  object-fit: cover;
  opacity: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}
.frame_15Page5 {
  background-color: rgb(0, 0, 0, 0.2);
  position: absolute;
  height: 100%;
  width: 100%;
}
.frame_15Page6 {
  overflow: hidden;
  position: absolute;
  width: 400px;
  left: 610px;
  height: 400px;
  top: 122px;
}
.frame_15Page7 {
  object-fit: contain;
  opacity: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}
.frame_15Page8 {
  overflow: hidden;
  position: absolute;
  width: 400px;
  left: 607px;
  height: 400px;
  top: 649px;
}
.frame_15Page9 {
  object-fit: contain;
  opacity: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}
.frame_15Page10 {
  background-color: rgb(0, 0, 0, 0.2);
  position: absolute;
  height: 100%;
  width: 100%;
}
.frame_15Page11 {
  overflow: hidden;
  position: absolute;
  width: 210px;
  left: 1076px;
  height: 210px;
  top: 112px;
}
.frame_15Page12 {
  transform: rotate(0deg) scale(224.69%, 190.48%) translate(-28.27%, -23.47%);
  transform-origin: top left;
  opacity: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}
.frame_15Page13 {
  overflow: hidden;
  position: absolute;
  width: 210px;
  left: 1076px;
  height: 210px;
  top: 639px;
}
.frame_15Page14 {
  transform: rotate(0deg) scale(224.69%, 190.48%) translate(-28.27%, -23.47%);
  transform-origin: top left;
  opacity: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}
.frame_15Page15 {
  background-color: rgb(0, 0, 0, 0.2);
  position: absolute;
  height: 100%;
  width: 100%;
}
.frame_15Page16 {
  overflow: hidden;
  position: absolute;
  width: 400px;
  left: 1352px;
  height: 400px;
  top: 122px;
}
.frame_15Page17 {
  object-fit: none;
  opacity: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}
.frame_15Page18 {
  overflow: hidden;
  position: absolute;
  width: 400px;
  left: 1352px;
  height: 400px;
  top: 649px;
}
.frame_15Page19 {
  object-fit: none;
  opacity: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}
.frame_15Page20 {
  background-color: rgb(0, 0, 0, 0.2);
  position: absolute;
  height: 100%;
  width: 100%;
}
