.github_03Page {
  position: absolute;
  width: 1440px;
  height: 6483.13px;
  background-color: rgb(255, 255, 255);
}
.frame {
  position: absolute;
  width: 1440px;
  left: 0px;
  height: 5970.13px;
  top: 64px;
}
.frameDiv {
  position: absolute;
  width: 1440px;
  left: 0px;
  height: 1191.17px;
  top: 608px;
}
.frameDiv1 {
  position: absolute;
  width: 1280px;
  left: calc(50% - 640px);
  height: 284.78px;
  top: 80px;
}
.howWeReMakingADifference {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 715.75px;
  left: 0px;
  height: 58px;
  top: 35px;
  color: rgb(27, 31, 35);
  font-size: 47px;
  font-family: Inter;
  font-weight: 800;
  line-height: 48px;
}
.frameDiv2 {
  position: absolute;
  width: 1280px;
  left: 0px;
  height: 116.78px;
  top: 128px;
}
.frameDiv3 {
  position: absolute;
  left: 0px;
  right: 853.34px;
  width: auto;
  height: 116.78px;
  top: 0px;
}
.frameDiv4 {
  position: absolute;
  width: 386.66px;
  left: 0px;
  height: 72px;
  top: 0px;
}
.text_5M {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 194.84px;
  left: 0px;
  height: 86px;
  top: -7px;
  color: rgb(27, 31, 35);
  font-size: 66px;
  font-family: Inter;
  font-weight: 800;
  line-height: 72px;
}
.gitHubEmployeeDonationsIn_2021 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 270.01px;
  left: 0px;
  height: 20px;
  top: 73px;
  color: rgb(106, 115, 125);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 22.399999618530273px;
}
.frameDiv5 {
  position: absolute;
  left: 426.66px;
  right: 426.69px;
  width: auto;
  height: 116.78px;
  top: 0px;
}
.text18 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 77.65px;
  left: 0px;
  height: 86px;
  top: -7px;
  color: rgb(27, 31, 35);
  font-size: 66px;
  font-family: Inter;
  font-weight: 800;
  line-height: 72px;
}
.countriesAcrossSixContinentsParticipateInSocialImpactPrograms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 315.97px;
  left: 0px;
  height: 42.39px;
  top: 73px;
  color: rgb(106, 115, 125);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 22.399999618530273px;
}
.frameDiv6 {
  position: absolute;
  left: 853.31px;
  right: 0.03px;
  width: auto;
  height: 116.78px;
  top: 0px;
}
.frameDiv7 {
  position: absolute;
  width: 386.66px;
  left: 0px;
  height: 72px;
  top: 0px;
}
.text30 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 133.7px;
  left: 0px;
  height: 86px;
  top: -7px;
  color: rgb(27, 31, 35);
  font-size: 64px;
  font-family: Inter;
  font-weight: 800;
  line-height: 72px;
}
.eventsParticipatedIn_2019_2021WithMoreThan_17_000PeopleAttending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 281.75px;
  left: 0px;
  height: 42.39px;
  top: 73px;
  color: rgb(106, 115, 125);
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  line-height: 22.399999618530273px;
}
.frameDiv8 {
  overflow: hidden;
  position: absolute;
  width: 1440px;
  left: 0px;
  height: 786.39px;
  top: 404.78px;
  background-color: rgb(27, 31, 35);
}
.frameDiv9 {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  top: -3px;
  bottom: 227.7px;
  height: auto;
}
.frameDiv10 {
  overflow: hidden;
  position: absolute;
  width: 1439.97px;
  left: calc(50% - 719.99px);
  height: 561.69px;
  top: calc(50% - 280.84px);
}
.vector {
  position: absolute;
  left: calc(0.031230480737400226%);
  right: calc(0.031230099922199786%);
  width: calc(99.9375394193404%);
  top: calc(0.08006405217557087%);
  bottom: calc(64.53162603228671%);
  height: calc(35.38830991553772%);
}
.vectorImage {
  position: absolute;
  left: calc(0.031230480737400226%);
  right: calc(0.031230099922199786%);
  width: calc(99.9375394193404%);
  top: calc(10.32826292165941%);
  bottom: calc(50.12009466690601%);
  height: calc(39.55164241143457%);
}
.vectorImage1 {
  position: absolute;
  left: calc(0.031230480737400226%);
  right: calc(93.2229860111278%);
  width: calc(6.745783508134792%);
  top: calc(30.82465959945616%);
  bottom: calc(51.881505979557275%);
  height: calc(17.293834420986556%);
}
.vectorImage2 {
  position: absolute;
  left: calc(92.72329148949157%);
  right: calc(0.031237178117773122%);
  width: calc(7.245471332390655%);
  top: calc(6.405123834470972%);
  bottom: calc(79.4235397581663%);
  height: calc(14.17133640736273%);
}
.vectorImage3 {
  position: absolute;
  left: calc(84.72829477867523%);
  right: calc(7.276702152550304%);
  width: calc(7.995003068774461%);
  top: calc(0.08006405217557087%);
  bottom: calc(87.26981540695637%);
  height: calc(12.650120540868059%);
}
.vectorImage4 {
  position: absolute;
  left: calc(0.031230480737400226%);
  right: calc(95.97126798487537%);
  width: calc(3.9975015343872258%);
  top: calc(20.576460920983088%);
  bottom: calc(69.17534040054385%);
  height: calc(10.24819867847306%);
}
.vectorImage5 {
  position: absolute;
  left: calc(92.72329148949157%);
  right: calc(0.031237178117773122%);
  width: calc(7.245471332390655%);
  top: calc(14.811848994554635%);
  bottom: calc(69.17534040054385%);
  height: calc(16.012810604901517%);
}
.vectorImage6 {
  position: absolute;
  left: calc(4.0287320896319505%);
  right: calc(91.97376637598083%);
  width: calc(3.9975015343872258%);
  top: calc(7.510008217164376%);
  bottom: calc(79.42353907901692%);
  height: calc(13.066452703818712%);
}
.group {
  position: absolute;
  left: 1295.61px;
  right: 7.65px;
  width: auto;
  top: 180.33px;
  bottom: 0px;
  height: auto;
}
.frameDiv11 {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  top: 616.59px;
  bottom: -3px;
  height: auto;
}
.frameImage {
  position: absolute;
  width: 1439.97px;
  left: calc(50% - 719.99px);
  height: 172.8px;
  top: calc(50% - 86.4px);
}
.frameDiv12 {
  position: absolute;
  width: 820px;
  left: 310px;
  height: 546.39px;
  top: 140px;
}
.frameDiv13 {
  position: absolute;
  width: 820px;
  left: 0px;
  height: 8px;
  top: 538.39px;
}
.frameDiv14 {
  overflow: hidden;
  border-radius: 4px;
  opacity: 0.7;
  position: absolute;
  width: 8px;
  left: 0px;
  height: 8px;
  top: 0px;
  background-color: rgb(255, 255, 255);
}
.frameDiv15 {
  overflow: hidden;
  border-radius: 4px;
  opacity: 0.2;
  position: absolute;
  width: 8px;
  left: 14px;
  height: 8px;
  top: 0px;
  background-color: rgb(255, 255, 255);
}
.frameDiv16 {
  overflow: hidden;
  border-radius: 4px;
  opacity: 0.2;
  position: absolute;
  width: 8px;
  left: 28px;
  height: 8px;
  top: 0px;
  background-color: rgb(255, 255, 255);
}
.frameDiv17 {
  overflow: hidden;
  border-radius: 4px;
  opacity: 0.2;
  position: absolute;
  width: 8px;
  left: 42px;
  height: 8px;
  top: 0px;
  background-color: rgb(255, 255, 255);
}
.frameDiv18 {
  overflow: hidden;
  border-radius: 4px;
  opacity: 0.2;
  position: absolute;
  width: 8px;
  left: 56px;
  height: 8px;
  top: 0px;
  background-color: rgb(255, 255, 255);
}
.frameDiv19 {
  overflow: hidden;
  position: absolute;
  width: 820px;
  left: 0px;
  height: 526.39px;
  top: 0px;
}
.frameDiv20 {
  position: absolute;
  width: 820px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: auto;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 34.84px;
  left: 0px;
  height: 86px;
  top: -7px;
  color: rgb(27, 31, 35);
  font-size: 72px;
  font-family: Inter;
  font-weight: 800;
  line-height: 72px;
}
.leadingTheOpenSourceInTheSocialSectorReportResearchWasAUniqueOpportunityToIdentifyCriticalInsightsAtAnIncrediblyImportantIntersectionTheResearchHasAlreadyStrengthenedSocialSectorOpenSourceCapacityAndHasLedToMoreResearchOpportunitiesForOliveBranchInternationalToEngageWithGitHubTechForSocialGoodAndUseTheKnowledgeGainedFromTheEngagementToNavigateOtherOpenSourceOpportunitiesForTheSocialSector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 798.93px;
  left: 0px;
  height: 358px;
  top: 61px;
  color: rgb(255, 255, 255);
  font-size: 31px;
  font-family: Inter;
  font-weight: 500;
  letter-spacing: -0.20000000298023224px;
  line-height: 40px;
}
.frameDiv21 {
  position: absolute;
  width: 820px;
  left: 0px;
  height: 82.39px;
  top: 444px;
}
.ginaAssafOliveBranchInternational {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 384.22px;
  left: 0px;
  height: 19px;
  top: 1px;
  color: rgb(106, 115, 125);
  font-size: 16px;
  font-family: Fira Code;
  font-weight: 400;
  line-height: 22.399999618530273px;
}
.frameDiv22 {
  overflow: hidden;
  border-radius: 24px;
  position: absolute;
  width: 48px;
  left: 0px;
  height: 48px;
  top: 34.39px;
}
.image {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  top: 0px;
  bottom: 0px;
  height: auto;
  transform-origin: top left;
  opacity: 1;
  overflow: hidden;
}
.imageImage {
  transform: rotate(0deg) scale(134.83%, 100%) translate(-12.92%, 0%);
  transform-origin: top left;
  height: 100%;
  width: 100%;
}
.frameDiv23 {
  position: absolute;
  width: 1248px;
  left: calc(50% - 624px);
  height: 539.19px;
  top: 1839.17px;
}
.frameDiv24 {
  position: absolute;
  width: 600px;
  left: 0px;
  height: 454px;
  top: calc(50% - 247px);
}
.ourWork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 84.65px;
  left: 0px;
  height: 24px;
  top: 3px;
  color: rgb(106, 115, 125);
  font-size: 19px;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
}
.frameDiv25 {
  position: absolute;
  width: 600px;
  left: 0px;
  height: 96px;
  top: 40px;
}
.techForSocialGood {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 341.54px;
  left: 0px;
  height: 106px;
  top: 40px;
  color: rgb(27, 31, 35);
  font-size: 46px;
  font-family: Inter;
  font-weight: 800;
  line-height: 48px;
}
.techForSocialGoodTsgLeveragesGitHubSPlatformAndProductsCommunityAndPeopleToStrengthenTheSocialSectorSEffortsToAchieveTheSustainableDevelopmentGoalsItsMajorProgramsFocusOnResearchCommunityBuildingAndSkillsBasedVolunteering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 588.12px;
  left: 0px;
  height: 144px;
  top: 155px;
  color: rgb(106, 115, 125);
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
}
.newimportantWeRecentlyLaunchedAnOpenSourceCommunityManagerProgramToSupportDpGsReadMoreHere {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 573.2px;
  left: 0px;
  height: 49px;
  top: 328px;
  color: rgb(9, 105, 218);
  font-size: 18px;
  font-family: Inter;
  font-weight: 800;
  line-height: 27px;
}
.frameDiv26 {
  overflow: hidden;
  border-radius: 6px;
  position: absolute;
  width: 257.09px;
  left: 0px;
  height: 50px;
  top: 404px;
}
.rectangle {
  position: absolute;
  width: 257.09px;
  left: 0px;
  height: 50px;
  top: 0px;
  background: linear-gradient(
      180deg,
      rgb(255, 255, 255, 0.15) 0%,
      rgb(255, 255, 255, 0) 100%
    ),
    linear-gradient(rgb(27, 31, 35), rgb(27, 31, 35));
  border-radius: 6px;
}
.learnMoreAboutTsg {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 31px;
  top: 12px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
}
.frameDiv27 {
  overflow: hidden;
  position: absolute;
  width: 16px;
  left: 210.09px;
  height: 16px;
  top: 18px;
}
.frameImage1 {
  position: absolute;
  width: 16px;
  left: calc(50% - 8px);
  height: 16px;
  top: 0px;
}
.frameDiv28 {
  overflow: hidden;
  position: absolute;
  width: 600px;
  left: 648px;
  height: 499.19px;
  top: calc(50% - 269.59px);
}
.imageDiv {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  top: 0px;
  bottom: 0px;
  height: auto;
  transform-origin: top left;
  opacity: 1;
  overflow: hidden;
}
.imageImage1 {
  transform: rotate(0deg) scale(120.68%, 100%) translate(-8.57%, 0%);
  transform-origin: top left;
  height: 100%;
  width: 100%;
}
.frameDiv29 {
  position: absolute;
  width: 1248px;
  left: calc(50% - 624px);
  height: 539.19px;
  top: 4441.75px;
}
.frameDiv30 {
  overflow: hidden;
  position: absolute;
  width: 600px;
  left: 0px;
  height: 499.19px;
  top: calc(50% - 269.59px);
}
.imageDiv1 {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  top: 0px;
  bottom: 0px;
  height: auto;
  transform-origin: top left;
  opacity: 1;
  overflow: hidden;
}
.imageImage2 {
  transform: rotate(0deg) scale(110.93%, 100%) translate(-4.93%, 0%);
  transform-origin: top left;
  height: 100%;
  width: 100%;
}
.frameDiv31 {
  position: absolute;
  width: 600px;
  left: 648px;
  height: 343px;
  top: calc(50% - 191.5px);
}
.engagementOpportunities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 329.48px;
  left: 0px;
  height: 106px;
  top: -5px;
  color: rgb(27, 31, 35);
  font-size: 47px;
  font-family: Inter;
  font-weight: 800;
  line-height: 48px;
}
.frameDiv32 {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  height: 167px;
  top: 136px;
}
.digitalPublicGoodsOpenSourceCommunityManager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 529.04px;
  left: 0px;
  height: 59px;
  top: 24px;
  color: rgb(27, 31, 35);
  font-size: 24px;
  font-family: Inter;
  font-weight: 600;
  line-height: 30px;
}
.applicationsAreNowOpenimportant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 203.31px;
  left: 0px;
  height: 20px;
  top: 94px;
  color: rgb(88, 96, 105);
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
}
.frameDiv33 {
  position: absolute;
  width: 144.23px;
  left: 0px;
  height: 24px;
  top: 142px;
}
.readAndApply {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
  color: rgb(27, 31, 35);
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
}
.frameDiv34 {
  overflow: hidden;
  position: absolute;
  width: 16px;
  left: 128.23px;
  height: 16px;
  top: 6px;
}
.frameImage2 {
  position: absolute;
  width: 16px;
  left: calc(50% - 8px);
  height: 16px;
  top: 0px;
}
.frameDiv35 {
  position: absolute;
  width: 1248px;
  left: calc(50% - 624px);
  height: 539.19px;
  top: 5020.94px;
}
.frameDiv36 {
  position: absolute;
  width: 600px;
  left: 0px;
  height: 482px;
  top: calc(50% - 261px);
}
.signUpForANonprofitAccountOnUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 524.15px;
  left: 0px;
  height: 106px;
  top: 35px;
  color: rgb(27, 31, 35);
  font-size: 47px;
  font-family: Inter;
  font-weight: 800;
  line-height: 48px;
}
.gitHubNonprofitAccountsAreDesignedForOfficialNonprofitOrganizationsThatAreNonGovernmentNonAcademicNonCommercialNonPoliticalInNatureAndHaveNoReligiousAffiliationQualifyingNonprofitsAreEligibleForATeamAccountWithUnlimitedPrivateRepositoriesAndUnlimitedUsers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 582.68px;
  left: 0px;
  height: 144px;
  top: 155px;
  color: rgb(106, 115, 125);
  font-size: 19px;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
}
.notANonprofitqSubmitARequestForYourSocialGoodProjectAndWeLlLetYouKnowIfYouQualifyForADiscount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 552.84px;
  left: 0px;
  height: 37px;
  top: 402px;
  color: rgb(106, 115, 125);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
}
.frameDiv37 {
  overflow: hidden;
  border-radius: 6px;
  position: absolute;
  width: 279.41px;
  left: 0px;
  height: 50px;
  top: 326px;
}
.rectangleDiv {
  position: absolute;
  width: 279.41px;
  left: 0px;
  height: 50px;
  top: 0px;
  background: linear-gradient(
      180deg,
      rgb(255, 255, 255, 0.15) 0%,
      rgb(255, 255, 255, 0) 100%
    ),
    linear-gradient(rgb(27, 31, 35), rgb(27, 31, 35));
  border-radius: 6px;
}
.requestAFreeTeamPlan {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 31px;
  top: 12px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
}
.frameDiv38 {
  overflow: hidden;
  position: absolute;
  width: 16px;
  left: 232.41px;
  height: 16px;
  top: 18px;
}
.frameImage3 {
  position: absolute;
  width: 16px;
  left: calc(50% - 8px);
  height: 16px;
  top: 0px;
}
.frameDiv39 {
  overflow: hidden;
  position: absolute;
  width: 600px;
  left: 648px;
  height: 499.19px;
  top: calc(50% - 269.59px);
}
.imageDiv2 {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  top: 0px;
  bottom: 0px;
  height: auto;
  transform-origin: top left;
  opacity: 1;
  overflow: hidden;
}
.imageImage3 {
  transform: rotate(0deg) scale(124.55%, 100%) translate(-9.85%, 0%);
  transform-origin: top left;
  height: 100%;
  width: 100%;
}
.frameDiv40 {
  overflow: hidden;
  position: absolute;
  width: 1440px;
  left: 0px;
  height: 370px;
  top: 5600.13px;
  background-color: rgb(246, 248, 250);
}
.frameDiv41 {
  position: absolute;
  width: 1280px;
  left: calc(50% - 640px);
  height: 186px;
  top: 80px;
}
.wantToGetInvolvedq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 332.12px;
  left: 0px;
  height: 38px;
  top: 1px;
  color: rgb(27, 31, 35);
  font-size: 31px;
  font-family: Inter;
  font-weight: 800;
  letter-spacing: -0.20000000298023224px;
  line-height: 40px;
}
.pleaseContactUsAndOurTeamWillGetBackToYouSoon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 534.01px;
  left: 0px;
  height: 24px;
  top: 51px;
  color: rgb(106, 115, 125);
  font-size: 19px;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
}
.frameDiv42 {
  overflow: hidden;
  border-radius: 6px;
  position: absolute;
  width: 257.02px;
  left: 0px;
  height: 50px;
  top: 112px;
}
.rectangleDiv1 {
  position: absolute;
  width: 257.02px;
  left: 0px;
  height: 50px;
  top: 0px;
  background: linear-gradient(
      180deg,
      rgb(255, 255, 255, 0.15) 0%,
      rgb(255, 255, 255, 0) 100%
    ),
    linear-gradient(rgb(27, 31, 35), rgb(27, 31, 35));
  border-radius: 6px;
}
.contactSocialImpact {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 31px;
  top: 12px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
}
.frameDiv43 {
  overflow: hidden;
  position: absolute;
  width: 16px;
  left: 210.02px;
  height: 16px;
  top: 18px;
}
.frameImage4 {
  position: absolute;
  width: 16px;
  left: calc(50% - 8px);
  height: 16px;
  top: 0px;
}
.frameDiv44 {
  overflow: hidden;
  position: absolute;
  width: 1440px;
  left: 0px;
  height: 608px;
  top: 0px;
  background-color: rgb(27, 31, 35);
}
.autoLayoutHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: auto;
  height: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 79px;
  bottom: -2px;
}
.frameImage5 {
  width: 1440px;
  height: 531px;
}
.frameDiv45 {
  position: absolute;
  width: 720px;
  left: calc(50% - 360px);
  height: 218px;
  top: 190px;
}
.gitHub {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 69.09px;
  left: 325.55px;
  height: 24px;
  top: 3px;
  color: rgb(149, 157, 165);
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
}
.socialImpact {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 485.75px;
  left: 117.22px;
  height: 86px;
  top: 33px;
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-family: Inter;
  font-weight: 800;
  line-height: 72px;
}
.theSocialImpactTeamEmpowersNonprofitsAndTheGreaterSocialSectorToDrivePositiveAndLastingContributionsToTheWorldWithGitHubProductsOurBrandAndOurEmployees {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 718.78px;
  left: 0.7px;
  height: 84px;
  top: 131px;
  color: rgb(149, 157, 165);
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
}
.frameDiv46 {
  position: absolute;
  width: 1440px;
  left: 0px;
  height: 1181.39px;
  top: 2418.36px;
}
.frameDiv47 {
  position: absolute;
  width: 1440px;
  left: 0px;
  height: 1181.39px;
  top: 0px;
}
.frameDiv48 {
  overflow: hidden;
  position: absolute;
  width: 22px;
  left: 0px;
  height: 22px;
  top: 0px;
}
.groupImage {
  position: absolute;
  left: 4.6px;
  right: 4.51px;
  width: auto;
  top: 4.6px;
  bottom: 4.51px;
  height: auto;
}
.frameDiv49 {
  position: absolute;
  width: 1280px;
  left: calc(50% - 640px);
  height: 1021.39px;
  top: 80px;
}
.frameDiv50 {
  position: absolute;
  width: 820px;
  left: calc(50% - 410px);
  height: 258px;
  top: 0px;
  background-color: rgb(255, 255, 255);
}
.employeeGiving {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 392.95px;
  left: 110px;
  height: 58px;
  top: 43px;
  color: rgb(27, 31, 35);
  font-size: 47px;
  font-family: Inter;
  font-weight: 800;
  line-height: 48px;
}
.employeeGivingLeveragesThePowerOfEmployeeCharitableDonationsVolunteerismAndMentorshipToHelpSocialSectorPartnersReachThoseInNeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 575.03px;
  left: 110px;
  height: 84px;
  top: 123px;
  color: rgb(106, 115, 125);
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  line-height: 30px;
}
.frameDiv51 {
  position: absolute;
  width: 1280px;
  left: calc(50% - 640px);
  height: 763.39px;
  top: 258px;
  background-color: rgb(255, 255, 255);
}
.frameDiv52 {
  position: absolute;
  width: 1160px;
  left: 60px;
  height: 134px;
  top: 48px;
}
.frameDiv53 {
  position: absolute;
  left: 0px;
  right: 773.34px;
  width: auto;
  height: 134px;
  top: 0px;
}
.frameDiv54 {
  position: absolute;
  width: 346.66px;
  left: 0px;
  height: 72px;
  top: 0px;
}
.text2_200 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 239.59px;
  left: 0px;
  height: 86px;
  top: -7px;
  color: rgb(27, 31, 35);
  font-size: 64px;
  font-family: Inter;
  font-weight: 800;
  line-height: 72px;
}
.nonprofitsReceivedDonationsFromGitHubEmployeesIn_2022 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 321.92px;
  left: 0px;
  height: 47px;
  top: 84px;
  color: rgb(106, 115, 125);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 22.399999618530273px;
}
.frameDiv55 {
  position: absolute;
  left: 386.66px;
  right: 386.69px;
  width: auto;
  height: 134px;
  top: 0px;
}
.frameDiv56 {
  position: absolute;
  width: 346.66px;
  left: 0px;
  height: 72px;
  top: 0px;
}
.text10_000 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 278.33px;
  left: 0px;
  height: 86px;
  top: -7px;
  color: rgb(27, 31, 35);
  font-size: 65px;
  font-family: Inter;
  font-weight: 800;
  line-height: 72px;
}
.volunteerHoursCompletedByGitHubEmployeesIn_2022 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 282.5px;
  left: 0px;
  height: 47px;
  top: 84px;
  color: rgb(106, 115, 125);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 22.399999618530273px;
}
.frameDiv57 {
  position: absolute;
  left: 773.31px;
  right: 0.03px;
  width: auto;
  height: 134px;
  top: 0px;
}
.frameDiv58 {
  position: absolute;
  width: 346.66px;
  left: 0px;
  height: 72px;
  top: 0px;
}
.text7_500 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 237.97px;
  left: 0px;
  height: 86px;
  top: -7px;
  color: rgb(27, 31, 35);
  font-size: 67px;
  font-family: Inter;
  font-weight: 800;
  line-height: 72px;
}
.freeTeamLicensesHaveBeenDistributedToDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 330.7px;
  left: 0px;
  height: 47px;
  top: 84px;
  color: rgb(106, 115, 125);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 22.399999618530273px;
}
.frameDiv59 {
  position: absolute;
  width: 1160px;
  left: 60px;
  height: 445.39px;
  top: 270px;
}
.frameDiv60 {
  position: absolute;
  left: 0px;
  right: 773.34px;
  width: auto;
  height: 405.39px;
  top: 40px;
}
.imageDiv3 {
  position: absolute;
  width: 346.66px;
  left: 0px;
  height: 231.39px;
  top: 0px;
  transform-origin: top left;
  opacity: 1;
  overflow: hidden;
}
.imageImage4 {
  transform: rotate(0deg) scale(100%, 100%) translate(0%, 0%);
  transform-origin: top left;
  height: 100%;
  width: 100%;
}
.volunteering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 146.07px;
  left: 0px;
  height: 29px;
  top: 247.39px;
  color: rgb(27, 31, 35);
  font-size: 23px;
  font-family: Inter;
  font-weight: 600;
  line-height: 30px;
}
.gitHubEmployeesLoveToVolunteerVirtuallyAndInTheirLocalCommunitiesEveryHourThatEmployeesVolunteerTheyWillReceiveA_20CreditToDonateToANonprofitOfTheirChoiceUpTo_15_000 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 330.01px;
  left: 0px;
  height: 116px;
  top: 287.39px;
  color: rgb(88, 96, 105);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
}
.frameDiv61 {
  position: absolute;
  left: 386.66px;
  right: 386.69px;
  width: auto;
  height: 405.39px;
  top: 40px;
}
.imageDiv4 {
  position: absolute;
  width: 346.66px;
  left: 0px;
  height: 231.39px;
  top: 0px;
  transform-origin: top left;
  opacity: 1;
  overflow: hidden;
}
.imageImage5 {
  transform: rotate(0deg) scale(100%, 100%) translate(0%, 0%);
  transform-origin: top left;
  height: 100%;
  width: 100%;
}
.matching {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 108.29px;
  left: 0px;
  height: 29px;
  top: 247.39px;
  color: rgb(27, 31, 35);
  font-size: 23px;
  font-family: Inter;
  font-weight: 600;
  line-height: 30px;
}
.whenAnEmployeeDonatesToANonprofitThatTheyCareAboutBeItHumanRightsOrClimateChangeOrganizationsWeMatchEachDonationDollarForDollarUpTo_15_000 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 339.62px;
  left: 0px;
  height: 92px;
  top: 287.39px;
  color: rgb(88, 96, 105);
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
}
.frameDiv62 {
  position: absolute;
  left: 773.31px;
  right: 0.03px;
  width: auto;
  height: 405.39px;
  top: 40px;
}
.imageDiv5 {
  position: absolute;
  width: 346.66px;
  left: 0px;
  height: 231.22px;
  top: 0px;
  transform-origin: top left;
  opacity: 1;
  overflow: hidden;
}
.imageImage6 {
  transform: rotate(0deg) scale(100%, 100%) translate(0%, 0%);
  transform-origin: top left;
  height: 100%;
  width: 100%;
}
.gitHubGives {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 153.5px;
  left: 0px;
  height: 29px;
  top: 247.22px;
  color: rgb(27, 31, 35);
  font-size: 23px;
  font-family: Inter;
  font-weight: 600;
  line-height: 30px;
}
.gitHubEmployeesParticipateEachDecemberInOurGivingCampaignToRaiseFundsForOurLocalCommunitiesInDecember_2021AsACompanyWeRaisedOver_1_98MillionForNonprofitsAroundTheWorld {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 343.78px;
  left: 0px;
  height: 116px;
  top: 287.22px;
  color: rgb(88, 96, 105);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
}
.frameDiv63 {
  overflow: hidden;
  position: absolute;
  width: 1440px;
  left: 0px;
  height: 754px;
  top: 3599.75px;
  background-color: rgb(27, 31, 35);
}
.frameDiv64 {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  top: -3px;
  bottom: 588.63px;
  height: auto;
}
.frameImage6 {
  position: absolute;
  width: 1439.87px;
  left: calc(50% - 719.94px);
  height: 168.38px;
  top: calc(50% - 84.19px);
}
.frameDiv65 {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  top: 572.14px;
  bottom: -3px;
  height: auto;
}
.frameDiv66 {
  overflow: hidden;
  position: absolute;
  width: 1440px;
  left: calc(50% - 720px);
  height: 184.86px;
  top: calc(50% - 92.43px);
}
.vectorImage7 {
  position: absolute;
  left: calc(95.24999915228662%);
  right: calc(0.00000105964172241795%);
  width: calc(4.749999788071658%);
  top: calc(29.892893025341266%);
  bottom: calc(35.05355658268003%);
  height: calc(35.0535503919787%);
}
.vectorImage8 {
  position: absolute;
  left: calc(0%);
  right: calc(0%);
  width: calc(100%);
  top: calc(0%);
  bottom: calc(0%);
  height: calc(100%);
}
.vectorImage9 {
  position: absolute;
  left: calc(97.6250038147102%);
  right: calc(-0.0000037087460284628246%);
  width: calc(2.374999894035831%);
  top: calc(46.445959634646265%);
  bottom: calc(35.05355658268003%);
  height: calc(18.500483782673705%);
}
.vectorImage10 {
  position: absolute;
  left: calc(95.24999915228662%);
  right: calc(2.3750009536775503%);
  width: calc(2.37499989403583%);
  top: calc(64.94644135375285%);
  bottom: calc(16.553072800006337%);
  height: calc(18.500485846240817%);
}
.groupImage1 {
  position: absolute;
  left: 1371.6px;
  right: 0px;
  width: auto;
  top: 85.86px;
  bottom: 30.6px;
  height: auto;
}
.vectorImage11 {
  position: absolute;
  left: calc(87.81250105964172%);
  right: calc(9.937498887376192%);
  width: calc(2.25000005298209%);
  top: calc(47.41967028489773%);
  bottom: calc(35.05355658268003%);
  height: calc(17.526773132422242%);
}
.vectorImage12 {
  position: absolute;
  left: calc(87.81250105964172%);
  right: calc(9.937498887376192%);
  width: calc(2.25000005298209%);
  top: calc(47.41967028489773%);
  bottom: calc(35.05355658268003%);
  height: calc(17.526773132422242%);
}
.vectorImage13 {
  position: absolute;
  left: calc(85.74999745685986%);
  right: calc(9.750002437175961%);
  width: calc(4.50000010596418%);
  top: calc(64.94644135375285%);
  bottom: calc(0.0000041271342236497336%);
  height: calc(35.05355451911293%);
}
.vectorImage14 {
  position: absolute;
  left: calc(85.74999745685986%);
  right: calc(9.750002437175961%);
  width: calc(4.50000010596418%);
  top: calc(64.94644135375285%);
  bottom: calc(0.0000041271342236497336%);
  height: calc(35.05355451911293%);
}
.vectorImage15 {
  position: absolute;
  left: calc(9.500000635785034%);
  right: calc(14.249995125648077%);
  width: calc(76.2500042385669%);
  top: calc(64.94644135375285%);
  bottom: calc(0.0000041271342236497336%);
  height: calc(35.05355451911293%);
}
.frameDiv67 {
  position: absolute;
  width: 1280px;
  left: calc(50% - 640px);
  height: 434px;
  top: 160px;
}
.latestInsights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 228.31px;
  left: 0px;
  height: 38px;
  top: 1px;
  color: rgb(255, 255, 255);
  font-size: 31px;
  font-family: Inter;
  font-weight: 800;
  letter-spacing: -0.20000000298023224px;
  line-height: 40px;
}
.frameDiv68 {
  position: absolute;
  width: 1280px;
  left: 0px;
  height: 330px;
  top: 104px;
}
.frameDiv69 {
  position: absolute;
  width: 398.39px;
  left: 0px;
  height: 294px;
  top: 0px;
}
.techForSocialGoodText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 156.18px;
  left: 0px;
  height: 20px;
  top: 2px;
  color: rgb(149, 157, 165);
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
}
.applyNowToOurOpenSourceCommunityManagerProgramToSupportDpGsimportant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 372.58px;
  left: 0px;
  height: 89px;
  top: 34px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: Inter;
  font-weight: 600;
  line-height: 30px;
}
.techForSocialGoodIsExcitedToAnnounceTheLaunchOfOurNewActivatingDevelopersInitiativeAndOurNewOsCommunityManagerProgramToSupportDigitalPublicGoods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 369.47px;
  left: 0px;
  height: 92px;
  top: 142px;
  color: rgb(149, 157, 165);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
}
.frameDiv70 {
  position: absolute;
  left: 0px;
  right: 291.41px;
  width: auto;
  top: 258px;
  bottom: 12px;
  height: auto;
}
.readMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 83.18px;
  left: 0px;
  height: 20px;
  top: 2px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
}
.frameDiv71 {
  overflow: hidden;
  position: absolute;
  width: 16px;
  left: 90.98px;
  height: 16px;
  top: calc(50% - 6px);
}
.frameImage7 {
  position: absolute;
  width: 16px;
  left: calc(50% - 8px);
  height: 16px;
  top: 0px;
}
.rectangleDiv2 {
  position: absolute;
  width: 398.39px;
  left: 0px;
  height: 1px;
  top: 293px;
  background-color: rgb(27, 31, 35);
}
.frameDiv72 {
  position: absolute;
  width: 398.39px;
  left: 440.8px;
  height: 294px;
  top: 0px;
}
.techForSocialGoodText1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 156.18px;
  left: 0px;
  height: 20px;
  top: 2px;
  color: rgb(149, 157, 165);
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
}
.socialImpactTechForSocialGoodAtCsw_2023 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 337.15px;
  left: 0px;
  height: 59px;
  top: 34px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: Inter;
  font-weight: 600;
  line-height: 30px;
}
.readAboutTheTwoCsw67SideEventsSocialImpactTechForSocialGoodIsHosting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 349px;
  left: 0px;
  height: 44px;
  top: 112px;
  color: rgb(149, 157, 165);
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
}
.frameDiv73 {
  position: absolute;
  left: 0px;
  right: 291.41px;
  width: auto;
  top: 258px;
  bottom: 12px;
  height: auto;
}
.readMoreText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 83.18px;
  left: 0px;
  height: 20px;
  top: 2px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
}
.frameDiv74 {
  overflow: hidden;
  position: absolute;
  width: 16px;
  left: 90.98px;
  height: 16px;
  top: calc(50% - 6px);
}
.frameImage8 {
  position: absolute;
  width: 16px;
  left: calc(50% - 8px);
  height: 16px;
  top: 0px;
}
.rectangleDiv3 {
  position: absolute;
  width: 398.39px;
  left: 0px;
  height: 1px;
  top: 293px;
  background-color: rgb(27, 31, 35);
}
.frameDiv75 {
  position: absolute;
  width: 398.39px;
  left: 881.59px;
  height: 294px;
  top: 0px;
}
.techForSocialGoodText2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 156.18px;
  left: 0px;
  height: 20px;
  top: 2px;
  color: rgb(149, 157, 165);
  font-size: 15px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
}
.howTechForSocialGoodSupportedTheSustainableDevelopmentGoalsSdGsIn_2022 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 342.36px;
  left: 0px;
  height: 119px;
  top: 34px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: Inter;
  font-weight: 600;
  line-height: 30px;
}
.readAboutHowTechForSocialGoodMappedItsTimeToTheSdGsIn_2022 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 371.34px;
  left: 0px;
  height: 44px;
  top: 172px;
  color: rgb(149, 157, 165);
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
}
.frameDiv76 {
  position: absolute;
  left: 0px;
  right: 291.41px;
  width: auto;
  top: 258px;
  bottom: 12px;
  height: auto;
}
.readMoreText1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 83.18px;
  left: 0px;
  height: 20px;
  top: 2px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
  line-height: 24px;
}
.frameDiv77 {
  overflow: hidden;
  position: absolute;
  width: 16px;
  left: 90.98px;
  height: 16px;
  top: calc(50% - 6px);
}
.frameImage9 {
  position: absolute;
  width: 16px;
  left: calc(50% - 8px);
  height: 16px;
  top: 0px;
}
.rectangleDiv4 {
  position: absolute;
  width: 398.39px;
  left: 0px;
  height: 1px;
  top: 293px;
  background-color: rgb(27, 31, 35);
}
.frameDiv78 {
  position: absolute;
  width: 1440px;
  left: 0px;
  height: 449px;
  top: 6034.13px;
  background-color: rgb(27, 31, 35);
}
.frameDiv79 {
  position: absolute;
  width: 1248px;
  left: 96px;
  height: 309px;
  top: 40px;
}
.frameDiv80 {
  overflow: hidden;
  position: absolute;
  width: 84px;
  left: 0px;
  height: 30px;
  top: 32px;
}
.frameImage10 {
  position: absolute;
  width: 84px;
  left: calc(50% - 42px);
  height: 30px;
  top: 0px;
}
.frameDiv81 {
  position: absolute;
  left: 416px;
  right: 624px;
  width: auto;
  height: 237px;
  top: 32px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 60.23px;
  left: 24px;
  height: 20px;
  top: 0px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  letter-spacing: -0.10000000149011612px;
  line-height: 20px;
}
.frameDiv82 {
  position: absolute;
  width: 184px;
  left: 24px;
  height: 185px;
  top: 36px;
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 57.53px;
  left: 0px;
  height: 16px;
  top: 0px;
  color: rgb(149, 157, 165);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.security {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 54.87px;
  left: 0px;
  height: 16px;
  top: 33.5px;
  color: rgb(149, 157, 165);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.enterprise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 67.79px;
  left: 0px;
  height: 16px;
  top: 67px;
  color: rgb(149, 157, 165);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.customerStories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 112.29px;
  left: 0px;
  height: 16px;
  top: 100.5px;
  color: rgb(149, 157, 165);
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 45.93px;
  left: 0px;
  height: 16px;
  top: 134px;
  color: rgb(149, 157, 165);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 70px;
  left: 0px;
  height: 16px;
  top: 167.5px;
  color: rgb(149, 157, 165);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.frameDiv83 {
  position: absolute;
  left: 624px;
  right: 416px;
  width: auto;
  height: 237px;
  top: 32px;
}
.platform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 65.12px;
  left: 24px;
  height: 20px;
  top: 0px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  letter-spacing: -0.10000000149011612px;
  line-height: 20px;
}
.frameDiv84 {
  position: absolute;
  width: 184px;
  left: 24px;
  height: 151.5px;
  top: 36px;
}
.developerApi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 92.9px;
  left: 0px;
  height: 16px;
  top: 0px;
  color: rgb(149, 157, 165);
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 56.03px;
  left: 0px;
  height: 16px;
  top: 33.5px;
  color: rgb(149, 157, 165);
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.atom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 35.04px;
  left: 0px;
  height: 16px;
  top: 67px;
  color: rgb(149, 157, 165);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.electron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 55.17px;
  left: 0px;
  height: 16px;
  top: 100.5px;
  color: rgb(149, 157, 165);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.gitHubDesktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 106.89px;
  left: 0px;
  height: 16px;
  top: 134px;
  color: rgb(149, 157, 165);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.frameDiv85 {
  position: absolute;
  left: 832px;
  right: 208px;
  width: auto;
  height: 237px;
  top: 32px;
}
.support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 61.72px;
  left: 24px;
  height: 20px;
  top: 0px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  letter-spacing: -0.10000000149011612px;
  line-height: 20px;
}
.frameDiv86 {
  position: absolute;
  width: 184px;
  left: 24px;
  height: 185px;
  top: 36px;
}
.docs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 34.17px;
  left: 0px;
  height: 16px;
  top: 0px;
  color: rgb(149, 157, 165);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.communityForum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 124.11px;
  left: 0px;
  height: 16px;
  top: 33.5px;
  color: rgb(149, 157, 165);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.professionalServices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 140.43px;
  left: 0px;
  height: 16px;
  top: 67px;
  color: rgb(149, 157, 165);
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.learningLab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 85.59px;
  left: 0px;
  height: 16px;
  top: 100.5px;
  color: rgb(149, 157, 165);
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 42.81px;
  left: 0px;
  height: 16px;
  top: 134px;
  color: rgb(149, 157, 165);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.contactGitHub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 104.53px;
  left: 0px;
  height: 16px;
  top: 167.5px;
  color: rgb(149, 157, 165);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.frameDiv87 {
  position: absolute;
  left: 1040px;
  right: 0px;
  width: auto;
  height: 237px;
  top: 32px;
}
.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 73.47px;
  left: 24px;
  height: 20px;
  top: 0px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  letter-spacing: -0.10000000149011612px;
  line-height: 20px;
}
.frameDiv88 {
  position: absolute;
  width: 184px;
  left: 24px;
  height: 151.5px;
  top: 36px;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 40.08px;
  left: 0px;
  height: 16px;
  top: 0px;
  color: rgb(149, 157, 165);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 29.42px;
  left: 0px;
  height: 16px;
  top: 33.5px;
  color: rgb(149, 157, 165);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.careers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 51.37px;
  left: 0px;
  height: 16px;
  top: 67px;
  color: rgb(149, 157, 165);
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.press {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 36.42px;
  left: 0px;
  height: 16px;
  top: 100.5px;
  color: rgb(149, 157, 165);
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 35.26px;
  left: 0px;
  height: 16px;
  top: 134px;
  color: rgb(149, 157, 165);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 17.5px;
}
.frameDiv89 {
  position: absolute;
  width: 1440px;
  left: 0px;
  height: 68px;
  top: 381px;
  background-color: rgb(36, 41, 46);
}
.frameDiv90 {
  position: absolute;
  width: 1280px;
  left: calc(50% - 640px);
  height: 68px;
  top: 0px;
}
.frameDiv91 {
  position: absolute;
  width: 165.56px;
  left: 1098.44px;
  height: 20px;
  top: 24px;
}
.frameDiv92 {
  overflow: hidden;
  position: absolute;
  width: 22.13px;
  left: 0.02px;
  height: 18px;
  top: 1px;
}
.frameImage11 {
  position: absolute;
  width: 22.13px;
  left: calc(50% - 11.06px);
  height: 18px;
  top: 0px;
}
.frameDiv93 {
  overflow: hidden;
  position: absolute;
  width: 17.88px;
  left: 38.14px;
  height: 18px;
  top: 1px;
}
.frameImage12 {
  position: absolute;
  width: 17.88px;
  left: calc(50% - 8.94px);
  height: 18px;
  top: 0px;
}
.frameDiv94 {
  overflow: hidden;
  position: absolute;
  width: 22.55px;
  left: 72.02px;
  height: 16px;
  top: 2px;
}
.frameImage13 {
  position: absolute;
  width: 22.55px;
  left: calc(50% - 11.27px);
  height: 16px;
  top: 0px;
}
.frameDiv95 {
  overflow: hidden;
  position: absolute;
  width: 19px;
  left: 110.56px;
  height: 18px;
  top: 0px;
}
.frameImage14 {
  position: absolute;
  width: 19px;
  left: calc(50% - 9.5px);
  height: 18px;
  top: 0px;
}
.frameDiv96 {
  overflow: hidden;
  position: absolute;
  width: 20px;
  left: 145.56px;
  height: 20px;
  top: 0px;
}
.frameImage15 {
  position: absolute;
  width: 20px;
  left: calc(50% - 10px);
  height: 20px;
  top: 0px;
}
.frameDiv97 {
  position: absolute;
  width: 322.06px;
  left: 16px;
  height: 18px;
  top: 25px;
}
.autoLayoutHorizontalDiv {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: fit-content;
  height: fit-content;
  padding-right: 7.94px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.copyright_2023GitHubInc {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(149, 157, 165);
  font-size: 11px;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
}
.terms {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 128.94px;
  top: 0px;
  color: rgb(149, 157, 165);
  font-size: 11px;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
}
.privacy {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 178.7px;
  top: 0px;
  color: rgb(149, 157, 165);
  font-size: 11px;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
}
.cookieSettings {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 235.83px;
  top: 0px;
  color: rgb(149, 157, 165);
  font-size: 11px;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
}
.frameDiv98 {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  height: 64px;
  top: 0px;
  background-color: rgb(27, 31, 35);
}
.frameDiv99 {
  position: absolute;
  width: 1280px;
  left: calc(50% - 640px);
  height: 64px;
  top: 0px;
  background-color: rgb(27, 31, 35);
}
.frameDiv100 {
  position: absolute;
  left: 0px;
  right: 1112px;
  width: auto;
  height: 39.23px;
  top: 12.39px;
}
.frameDiv101 {
  overflow: hidden;
  position: absolute;
  width: 167.97px;
  left: calc(50% - 83.99px);
  height: 39.23px;
  top: calc(50% - 19.62px);
}
.groupImage2 {
  position: absolute;
  left: 7.85px;
  right: 7.73px;
  width: auto;
  top: 8.04px;
  bottom: 7.51px;
  height: auto;
}
.frameDiv102 {
  position: absolute;
  left: 512px;
  right: 0px;
  width: auto;
  height: 45px;
  top: calc(50% - 22.5px);
}
.autoLayoutHorizontalDiv1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: fit-content;
  height: fit-content;
  padding-left: 4px;
  padding-right: 5.89px;
  padding-top: 11px;
  padding-bottom: 13px;
  position: absolute;
  left: 437.41px;
  top: 0px;
}
.socialImpactText {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
}
.rectangleDiv5 {
  position: absolute;
  width: 69.22px;
  left: 14.83px;
  height: 1px;
  top: 40px;
  background: linear-gradient(
    90deg,
    rgb(121, 184, 255, 1) 23.000000417232513%,
    rgb(190, 245, 202, 1) 100%
  );
}
.techForSocialGoodText3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 136.68px;
  left: 554.3px;
  height: 16px;
  top: 14px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
}
.insights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 51.42px;
  left: 712.78px;
  height: 16px;
  top: 14px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
}
