.githubPagesLogoRepositoryForkGithub_86eddab19cbc3ae293ada0fe0fb9e27d_1 {
  height: 100%;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
  object-fit: cover;
}
.gitHubIcon {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  width: 50px;
  height: 50px;
}
