.headPage0 {
  position: absolute;
  width: 1920px;
  left: 0px;
  height: 1573px;
  top: 0px;
}
.headPage1 {
  position: absolute;
  width: 1920px;
  left: 0px;
  height: 1573px;
  top: 0px;
  object-fit: cover;
  opacity: 1;
}
.headPage2 {
  position: absolute;
  width: 1920px;
  left: 0px;
  height: 1200px;
  top: 0px;
  background: linear-gradient(-13deg, rgb(0, 0, 0, 0) 0%, rgb(0, 0, 0, 1) 100%);
}
.headPage3 {
  position: absolute;
  width: 1920px;
  left: 0px;
  height: 358px;
  top: 1215px;
}
.headPage4 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  position: absolute;
  rotate: 90deg;
  left: 104px;
  top: 359px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 600;
}
.headPage5 {
  position: absolute;
  width: 24px;
  left: 80px;
  height: 24px;
  top: 461px;
}
.headPage6 {
  position: absolute;
  width: 24px;
  left: 80px;
  height: 24px;
  top: 505px;
}
.headPage7 {
  position: absolute;
  width: 24px;
  left: 80px;
  height: 24px;
  top: 549px;
}
.headPage8 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  position: absolute;
  left: 897px;
  top: 674px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 600;
}
.headPage9 {
  position: absolute;
  width: 16px;
  left: 1007px;
  height: 24px;
  top: 673px;
}
.headPage10 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 32px;
  height: fit-content;
  width: fit-content;
  position: absolute;
  left: 500px;
  top: 287px;
}
.headPage11 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  position: absolute;
  left: 104px;
  top: 0px;
  color: rgb(255, 193, 120);
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 700;
  letter-spacing: 6px;
}
.headPage12 {
  position: absolute;
  rotate: 0deg;
  width: 72px;
  left: 0px;
  height: 2px;
  top: 10px;
  background-color: rgb(255, 193, 120);
}
.headPage13 {
  height: fit-content;
  width: 950px;
  color: rgb(255, 255, 255);
  line-height: 100px;
}
.headPage14 {
  overflow: hidden;
  position: absolute;
  width: 1751px;
  left: 85px;
  height: 25px;
  top: 64px;
}
.headPage15 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  position: absolute;
  left: calc(50% - -811px);
  top: calc(50% - 10.5px);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 600;
}
.headPage16 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  position: absolute;
  left: calc(50% - -683px);
  top: calc(50% - 10.5px);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 600;
}
.headPage17 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  position: absolute;
  left: calc(50% - -528px);
  top: calc(50% - 10.5px);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 600;
}
.headPage18 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  position: absolute;
  left: 1697px;
  top: 0px;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-family: Open Sans;
  font-weight: 400;
}
.headPage19 {
  position: absolute;
  width: 20px;
  left: 1663px;
  height: 20px;
  top: 2px;
}
.headPage20 {
  overflow: hidden;
  position: absolute;
  width: 96px;
  left: 0px;
  height: 32px;
  top: 0px;
}
.headPage21 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  position: absolute;
  left: 0px;
  top: -6px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: Open Sans;
  font-weight: 700;
  letter-spacing: 0.01em;
}
