.highlightedNft {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 510px;
  height: 510px;
  position: relative;
}
.imagePlaceholder {
  width: 100%;
  flex: 1 1 0%;
  object-fit: cover;
  opacity: 1;
}
.frame_230 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  height: 109px;
  background-color: rgb(59, 59, 59);
}
.spaceWalking {
  height: fit-content;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 1.399999976158142em;
}
