.workClass{
  color: rgb(0, 0, 0);
  font-size: 22.5px;
  font-family: Lantinghei SC;
  font-weight: 400;
}
.aboutClass{
  color: rgba(0, 0, 0, 0.25);
  font-size: 22.5px;
  font-family: Lantinghei SC;
  font-weight: 400;
}
.resumeClass{
  color: rgb(0, 0, 0);
  font-size: 22.5px;
  font-family: Lantinghei SC;
  font-weight: 400;
}
.frame25Class{
  display: flex;
  align-items: flex-start;
  gap: 14.1px;
  height: fit-content;
  width: 1365px;
}
.frame32Class{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: fit-content;
  padding: 0px 36px;
}
.hiImRachelimportantClass{
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 700;
}
.imaUxDesignerAndSeniorAtColumbiaUniversityStudyingComputerScienceClass{
  font-size: 24px;
  font-weight: 400;
}
.frame21Class{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  height: fit-content;
  width: 996px;
}
.rectangle11Class{
  position: absolute;
  rotate: -270deg;
  width: 420px;
  left: 0px;
  height: 998px;
  top: 420px;
  transform: scale(77%, 118%);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 1.5px;
  border-radius: 5.4px;
}
.roarregTextClass{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
}
.streamliningTheCourseRegistrationProcessClass{
  width: 325px;
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 700;
}
.frame9Class{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.66px;
  height: fit-content;
  width: fit-content;
}
.dashboard1Class{
  position: absolute;
  width: 424px;
  left: 435.6px;
  height: 302px;
  top: calc(50% - 156.24px);
  object-fit: cover;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 0.9px;
  border-radius: 10.93px;
}
.image16Class{
  position: absolute;
  width: 89px;
  left: 805.2px;
  height: 90px;
  top: 222.47px;
  object-fit: cover;
}
.datCxGoogleClass{
}
.group24Class{
  width: 458px;
  height: 312px;
}
.frame23Class{
  display: flex;
  align-items: center;
  gap: 111px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 59.56px;
  top: calc(50% - 156.33px);
}
.roarregClass{
  width: 998px;
  height: 420px;
}
.rectangle11DivClass{
  position: absolute;
  rotate: -270deg;
  width: 420px;
  left: 0.06px;
  height: 998px;
  top: 912px;
  transform: scale(95%, 95%);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 1.5px;
  border-radius: 5.4px;
}
.expertvoiceClass{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 300;
}
.helpingConsumersConfidentlyMakePurchaseDecisionsClass{
  width: 355px;
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 700;
}
.frame9DivClass{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.66px;
  height: fit-content;
  width: fit-content;
}
.intro11Class{
  width: 196px;
  height: 360px;
  object-fit: cover;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 0.9px;
  border-radius: 7.2px;
}
.suggestions1Class{
  width: 196px;
  height: 360px;
  object-fit: cover;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 0.9px;
  border-radius: 7.2px;
}
.frame31Class{
  display: flex;
  align-items: flex-start;
  gap: 7.2px;
  width: fit-content;
  height: fit-content;
}
.frame25DivClass{
  display: flex;
  align-items: center;
  gap: 84px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 59.63px;
  top: calc(50% - -311.95px);
}
.ellipse1Class{
  position: absolute;
  width: 87px;
  left: 865.2px;
  height: 89px;
  top: 803.4px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}
.logoClass{
}
.evaClass{
  width: 998px;
  height: 420px;
}
.rectangle11Div1Class{
  position: absolute;
  rotate: -270deg;
  width: 420px;
  left: 0px;
  height: 998px;
  top: 1404px;
  transform: scale(77%, 118%);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 1.5px;
  border-radius: 8.4px;
}
.infiniteGoodsClass{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
}
.improvingAScoringSystemForProductSustainabilityClass{
  width: 337px;
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 700;
}
.frame9Div1Class{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.66px;
  height: fit-content;
  width: fit-content;
}
.ecoLabel1Class{
  position: absolute;
  width: 339px;
  left: 501.9px;
  height: 329px;
  top: calc(50% - 164.57px);
  object-fit: cover;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 0.9px;
  border-radius: 10.93px;
}
.group36Class{
  width: 339px;
  height: 329px;
}
.frame24Class{
  display: flex;
  align-items: center;
  gap: 165.3px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 59.56px;
  top: calc(50% - -819.3px);
}
.divClass{
  background-color: rgb(180, 53, 152);
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
.imageClass{
  object-fit: cover;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
.infiniteGoodsLogo2Class{
  position: absolute;
  width: 90px;
  left: 853.5px;
  height: 90px;
  top: 1285.5px;
  border-radius: 9999px;
  overflow: hidden;
}
.ecolabelClass{
  width: 998px;
  height: 420px;
}
.rectangle11Div2Class{
  position: absolute;
  rotate: -270deg;
  width: 420px;
  left: 0px;
  height: 998px;
  top: 1896px;
  transform: scale(77%, 118%);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 1.5px;
  border-radius: 8.4px;
}
.nycolorTextClass{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
}
.gamifyingUrbanExplorationInNewYorkCityClass{
  width: 337px;
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 700;
}
.frame9Div2Class{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.66px;
  height: fit-content;
  width: fit-content;
}
.home1Class{
  width: 175px;
  height: 360px;
  object-fit: cover;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 0.9px;
  border-radius: 7.2px;
}
.profile1Class{
  width: 175px;
  height: 360px;
  object-fit: cover;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 0.9px;
  border-radius: 7.2px;
}
.frame30Class{
  display: flex;
  align-items: center;
  gap: 7.2px;
  width: fit-content;
  height: fit-content;
}
.frame24DivClass{
  display: flex;
  align-items: center;
  gap: 165.3px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 59.56px;
  top: calc(50% - -1295.87px);
}
.nycolorLogoImageClass{
  transform: scale(109.75%, 108.29%) translate(-4.22%, -3.56%);
  transform-origin: top left;
  height: 100%;
  width: 100%;
}
.nycolorLogoClass{
  position: absolute;
  width: 90px;
  left: 858.6px;
  height: 90px;
  top: 1786.8px;
  transform-origin: top left;
  border-radius: 9999px;
  overflow: hidden;
}
.nycolorClass{
  width: 998px;
  height: 420px;
}
.frame29Class{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  height: fit-content;
  width: fit-content;
  position: relative;
}
.otherProjectsClass{
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-weight: 700;
}
.expertvoiceTextClass{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
}
.enhancingTheAndroidShoppingCartExperienceClass{
  width: 445px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
}
.frame12Class{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.67px;
  height: fit-content;
  position: absolute;
  width: 521px;
  left: 0px;
  top: calc(50% - 41.34px);
}
.arrow9Class{
  position: absolute;
  width: 33px;
  left: 485.92px;
  height: 0px;
  top: calc(50% - 0px);
}
.group31Class{
  width: 521px;
  height: 83px;
}
.frame18Class{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: fit-content;
  position: relative;
}
.frame19Class{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  height: fit-content;
  width: 994px;
}
.frame27Class{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  height: fit-content;
  width: 1365px;
}
.frame28Class{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 108px;
  height: fit-content;
  width: fit-content;
  position: absolute;
  left: 0px;
  top: 21.9px;
}
.homepageComponentClass{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 3731px;
  background-color: rgb(255, 255, 255);
  font-family: Montserrat;
}