.imagePlaceholder {
  position: absolute;
  right: 0%;
  width: 100%;
  bottom: 0%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.imagePlaceholderComponent1 {
  position: relative;
  width: 240px;
  height: 240px;
}
