.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  height: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 20px;
  width: 330px;
  background-color: rgb(59, 59, 59);
  position: relative;
}
.cardDetails {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  height: fit-content;
  position: relative;
  width: 100%;
}
.setupYourWallet {
  height: fit-content;
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 1.399999976158142em;
}
.setUpYourWalletOfChoiceConnectItToTheNftMarketByClickingTheWalletIconInTheTopRightCorner {
  height: fit-content;
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.infoCardComponent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  height: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 20px;
  width: 198px;
  background-color: rgb(59, 59, 59);
  position: relative;
}
.cardDetailsDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  height: fit-content;
  position: relative;
  width: 100%;
}
.setupYourWalletText {
  height: fit-content;
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 1.399999976158142em;
}
.setUpYourWalletOfChoiceConnectItToTheNftMarketByClickingTheWalletIconInTheTopRightCornerText {
  height: fit-content;
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
.infoCardComponent1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  width: 315px;
  background-color: rgb(59, 59, 59);
  position: relative;
}
.cardDetailsDiv1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  height: fit-content;
  position: relative;
  flex: 1 1 0%;
}
.setupYourWalletText1 {
  height: fit-content;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 1.399999976158142em;
}
.setUpYourWalletOfChoiceConnectItToTheNftMarketByClickingTheWalletIconInTheTopRightCornerText1 {
  height: fit-content;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
