.inviteEmail {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  padding: 6px;
  border-radius: 5px;
  position: relative;
  background-color: rgb(244, 86, 154);
}
.jorgeatVividLol {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 121px;
  height: 14px;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Avenir;
  font-weight: 500;
}
.frame_11 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background-color: rgb(175, 51, 105);
}
.group_1 {
  width: 8.4px;
  height: 7.64px;
  flex-shrink: 0;
}
