.leftPage0 {
  overflow: hidden;
  position: absolute;
  width: 200px;
  height: 322px;
  background-color: rgb(92, 225, 70);
}
.leftPage1 {
  overflow: hidden;
  position: absolute;
  width: 142px;
  left: 23px;
  height: 70px;
  top: 27px;
  background-color: rgb(241, 96, 96);
}
.leftPage2 {
  overflow: hidden;
  position: absolute;
  width: 65px;
  left: 23px;
  height: 70px;
  top: 108px;
  background-color: rgb(241, 96, 96);
}
.leftPage3 {
  overflow: hidden;
  position: absolute;
  width: 93px;
  left: 23px;
  height: 70px;
  top: 189px;
  background-color: rgb(241, 96, 96);
}
