.lineTestsPage0 {
  overflow: hidden;
  position: absolute;
  width: 1966px;
  height: 1091px;
  background-color: rgb(255, 255, 255);
}
.lineTestsPage1 {
  position: absolute;
  width: 1966.21px;
  height: 1px;
}
.lineTestsPage2 {
  position: absolute;
  width: 232px;
  left: 367px;
  height: 14px;
  top: 245px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
}
.lineTestsPage3 {
  position: absolute;
  width: 1966.21px;
  height: 12px;
}
.lineTestsPage4 {
  position: absolute;
  width: 232px;
  left: 367px;
  height: 14px;
  top: 444px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
}
.lineTestsPage5 {
  position: absolute;
  width: 1998.21px;
  height: 64px;
}
.lineTestsPage6 {
  position: absolute;
  width: 232px;
  left: 367px;
  height: 14px;
  top: 632px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
}
.lineTestsPage7 {
  position: absolute;
  width: 1966.21px;
  height: 3px;
}
.lineTestsPage8 {
  position: absolute;
  width: 232px;
  left: 367px;
  height: 14px;
  top: 764px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
}
.lineTestsPage9 {
  position: absolute;
  width: 232px;
  left: 367px;
  height: 14px;
  top: 929px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
}
.lineTestsPage10 {
  position: absolute;
  width: 1991px;
  height: 1px;
}
