.messageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 877px;
  height: 60px;
}
.message {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  padding: 8px 20px;
  border-radius: 100px;
  position: relative;
  flex-shrink: 0;
}
.messageFromPerson {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 400;
}
