.navbar0 {
  width: 1438.66px;
  height: 74px;
  background-color: rgb(255, 255, 255);
}
.navbar1 {
  position: absolute;
  left: 63.98px;
  right: 1322.82px;
  width: auto;
  top: 12.78px;
  bottom: 23.07px;
  height: auto;
}
.navbar2 {
  position: absolute;
  width: 516px;
  left: 759.66px;
  height: 34px;
  top: 20px;
}
.navbar3 {
  width: 1438.66px;
  height: 74px;
  background-color: rgb(255, 255, 255);
}
.navbar4 {
  position: absolute;
  left: 63.98px;
  right: 1322.82px;
  width: auto;
  top: 12.78px;
  bottom: 23.07px;
  height: auto;
}
.navbar5 {
  position: absolute;
  width: 516px;
  left: 759.66px;
  height: 34px;
  top: 20px;
}
.navbar6 {
  width: 1438.66px;
  height: 74px;
  background-color: rgb(255, 255, 255);
}
.navbar7 {
  position: absolute;
  left: 63.98px;
  right: 1322.82px;
  width: auto;
  top: 12.78px;
  bottom: 23.07px;
  height: auto;
}
.navbar8 {
  position: absolute;
  width: 516px;
  left: 759.66px;
  height: 34px;
  top: 20px;
}
.navbar9 {
  width: 1438.66px;
  height: 74px;
  background-color: rgb(255, 255, 255);
}
.navbar10 {
  position: absolute;
  left: 63.98px;
  right: 1322.82px;
  width: auto;
  top: 12.78px;
  bottom: 23.07px;
  height: auto;
}
.navbar11 {
  position: absolute;
  width: 516px;
  left: 759.66px;
  height: 34px;
  top: 20px;
}
