.navBar0 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 1440px;
  height: 65px;
  background-color: rgb(63, 58, 77);
}
.navBar1 {
  object-fit: cover;
  width: 45px;
  height: 100%;
}
.navBar2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: fit-content;
  padding-left: 74px;
  padding-right: 74px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  height: 100%;
}
.navBar3 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: Inter;
  font-weight: 700;
}
.navBar4 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: Inter;
  font-weight: 700;
}
.navBar5 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: Inter;
  font-weight: 700;
}
.navBar6 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 400px;
  height: 50px;
  background-color: rgb(63, 58, 77);
}
.navBar7 {
  object-fit: cover;
  width: 30px;
  height: 100%;
}
.navBar8 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: fit-content;
  padding-left: 74px;
  padding-right: 74px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  height: 100%;
}
.navBar9 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: Inter;
  font-weight: 700;
}
.navBar10 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: Inter;
  font-weight: 700;
}
.navBar11 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: Inter;
  font-weight: 700;
}
