.navChapternavPage {
  overflow: hidden;
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  height: 116px;
  top: 44px;
  background-color: rgb(251, 251, 253);
}
.ul {
  overflow: hidden;
  position: absolute;
  width: 1372px;
  left: 34px;
  height: 129px;
  top: 8px;
}
.a {
  position: absolute;
  width: 76.19px;
  left: 135.67px;
  height: 77px;
  top: 3px;
}
.figure {
  position: absolute;
  width: 40px;
  left: calc(50% - 20px);
  height: 54px;
  top: 0px;
}
.iphone_14ProLightDfhcc00ur2oiLargeSvg {
  position: absolute;
  width: 40px;
  left: calc(50% - 20px);
  height: 54px;
  bottom: 0px;
}
.iPhone_14Pro {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 1px;
  top: 61px;
  color: rgb(29, 29, 31);
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: -0.11999999731779099px;
  line-height: 16.000499725341797px;
}
.new {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 27.77px;
  top: 77px;
  color: rgb(191, 72, 0);
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: -0.07999999821186066px;
  line-height: 12px;
}
.aDiv {
  position: absolute;
  width: 54.19px;
  left: 252.28px;
  height: 77px;
  top: 3px;
}
.figureDiv {
  position: absolute;
  width: 38px;
  left: calc(50% - 19px);
  height: 54px;
  top: 0px;
}
.iphone_14LightFwknsxkf80uqLargeSvg {
  position: absolute;
  width: 38px;
  left: calc(50% - 19px);
  height: 54px;
  bottom: 0px;
}
.iPhone_14 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 1px;
  top: 61px;
  color: rgb(29, 29, 31);
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: -0.11999999731779099px;
  line-height: 16.000499725341797px;
}
.newText {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 16.77px;
  top: 77px;
  color: rgb(191, 72, 0);
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: -0.07999999821186066px;
  line-height: 12px;
}
.aDiv1 {
  position: absolute;
  width: 53.98px;
  left: 346.89px;
  height: 77px;
  top: 3px;
}
.figureDiv1 {
  position: absolute;
  width: 36px;
  left: calc(50% - 18.01px);
  height: 54px;
  top: 0px;
}
.iphone_13LightEwo3e0sf67o2LargeSvg {
  position: absolute;
  width: 36px;
  left: calc(50% - 18px);
  height: 54px;
  bottom: 0px;
}
.iPhone_13 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 1px;
  top: 61px;
  color: rgb(29, 29, 31);
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: -0.11999999731779099px;
  line-height: 16.000499725341797px;
}
.aDiv2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 7px;
  height: fit-content;
  width: fit-content;
  padding-right: 0.69px;
  position: absolute;
  left: 441.3px;
  top: 3px;
}
.figureDiv2 {
  position: relative;
  width: 19px;
  height: 54px;
}
.iphoneSeLightFhg8duy6ffauLargeSvg {
  position: absolute;
  width: 19px;
  left: calc(50% - 9.5px);
  height: 54px;
  bottom: 0px;
}
.iPhoneSe {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(29, 29, 31);
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: -0.11999999731779099px;
  line-height: 16.000499725341797px;
}
.aDiv3 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 7px;
  height: fit-content;
  width: fit-content;
  padding-right: 0.7px;
  position: absolute;
  left: 537.41px;
  top: 3px;
}
.figureDiv3 {
  position: relative;
  width: 22px;
  height: 54px;
}
.iphone_12LightCxh2ll1zwpw2LargeSvg {
  position: absolute;
  width: 22px;
  left: calc(50% - 11px);
  height: 54px;
  bottom: 0px;
}
.iPhone_12 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(29, 29, 31);
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: -0.11999999731779099px;
  line-height: 16.000499725341797px;
}
.aDiv4 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 7px;
  height: fit-content;
  width: fit-content;
  padding-left: 1px;
  padding-right: 0.48px;
  position: absolute;
  left: 631.53px;
  top: 3px;
}
.figureDiv4 {
  position: relative;
  width: 45px;
  height: 54px;
}
.iphoneCompareLightF4jj7brpbvm2LargeSvg {
  position: absolute;
  width: 45px;
  left: calc(50% - 22.5px);
  height: 54px;
  bottom: 0px;
}
.compare {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(29, 29, 31);
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: -0.11999999731779099px;
  line-height: 16.000499725341797px;
}
.aDiv5 {
  position: absolute;
  width: 42.98px;
  left: 722.44px;
  height: 77px;
  top: 3px;
}
.figureDiv5 {
  position: absolute;
  width: 39px;
  left: calc(50% - 19.51px);
  height: 54px;
  top: 0px;
}
.airpodsLight_8oj157p2476aLargeSvg {
  position: absolute;
  width: 39px;
  left: calc(50% - 19.5px);
  height: 54px;
  bottom: 0px;
}
.airPods {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 61px;
  color: rgb(29, 29, 31);
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: -0.11999999731779099px;
  line-height: 16.000499725341797px;
}
.aDiv6 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 7px;
  height: fit-content;
  width: fit-content;
  padding-left: 1px;
  padding-right: 0.58px;
  position: absolute;
  left: 805.84px;
  top: 3px;
}
.figureDiv6 {
  position: relative;
  width: 30px;
  height: 54px;
}
.airtagLightCb2bmnv6aoeuLargeSvg {
  position: absolute;
  width: 29px;
  left: calc(50% - 14.5px);
  height: 54px;
  bottom: 0px;
}
.airTag {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(29, 29, 31);
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: -0.11999999731779099px;
  line-height: 16.000499725341797px;
}
.aDiv7 {
  position: absolute;
  width: 66.92px;
  left: 880.84px;
  height: 77px;
  top: 3px;
}
.figureDiv7 {
  position: absolute;
  width: 40px;
  left: calc(50% - 20.01px);
  height: 54px;
  top: 0px;
}
.accessoriesLightEd5l6ipsevquLargeSvg {
  position: absolute;
  width: 40px;
  left: calc(50% - 20px);
  height: 54px;
  bottom: 0px;
}
.accessories {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 1px;
  top: 61px;
  color: rgb(29, 29, 31);
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: -0.11999999731779099px;
  line-height: 16.000499725341797px;
}
.aDiv8 {
  position: absolute;
  width: 61.78px;
  left: 988.19px;
  height: 77px;
  top: 3px;
}
.figureDiv8 {
  position: absolute;
  width: 36px;
  left: calc(50% - 18px);
  height: 54px;
  top: 0px;
}
.iphoneAppleCardLightDtut839e76c2LargeSvg {
  overflow: hidden;
  position: absolute;
  width: 36px;
  left: calc(50% - 18px);
  height: 54px;
  bottom: 0px;
}
.group {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  top: 0px;
  bottom: 0px;
  height: auto;
}
.appleCard {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 61px;
  color: rgb(29, 29, 31);
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: -0.11999999731779099px;
  line-height: 16.000499725341797px;
}
.aDiv9 {
  position: absolute;
  width: 35.73px;
  left: 1090.39px;
  height: 77px;
  top: 3px;
}
.figureDiv9 {
  position: absolute;
  width: 32px;
  left: calc(50% - 16.01px);
  height: 54px;
  top: 0px;
}
.iphoneIosLightB8s4ws8o77iqLargeSvg {
  overflow: hidden;
  position: absolute;
  width: 32px;
  left: calc(50% - 16px);
  height: 54px;
  bottom: 0px;
}
.groupImage {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  top: 0px;
  bottom: 0px;
  height: auto;
}
.iOs_16 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: -1px;
  top: 61px;
  color: rgb(29, 29, 31);
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: -0.11999999731779099px;
  line-height: 16.000499725341797px;
}
.aDiv10 {
  position: absolute;
  width: 69.78px;
  left: 1166.55px;
  height: 77px;
  top: 3px;
}
.figureDiv10 {
  position: absolute;
  width: 58px;
  left: calc(50% - 29px);
  height: 54px;
  top: 0px;
}
.shopIphoneLightB2toggskllleLargeSvg {
  position: absolute;
  width: 58px;
  left: calc(50% - 29px);
  height: 54px;
  bottom: 0px;
}
.shopIPhone {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 61px;
  color: rgb(29, 29, 31);
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: -0.11999999731779099px;
  line-height: 16.000499725341797px;
}
