.moon{
  width: 17px;
  height: 17px;
  flex-shrink: 0;
}
.milanTour{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  color: rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 700;
}
.logo{
  display: flex;
  align-items: center;
  gap: 7px;
  width: fit-content;
  height: fit-content;
  flex-shrink: 0;
}
.menuItems{
  display: flex;
  align-items: flex-start;
  gap: 38px;
  width: fit-content;
  height: fit-content;
  flex-shrink: 0;
}
.hamburgerMenu{
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.links{
  display: flex;
  align-items: center;
  gap: 45px;
  width: fit-content;
  height: fit-content;
  flex-shrink: 0;
}
.navigationComponent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 0px 0px 0px 54px;
  width: 1440px;
}