.nftCardsRow{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  height: fit-content;
  width: 1050px;
}
.nftCardsRowDiv{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  height: fit-content;
  width: 1050px;
}
.nftCardsRowDiv_1{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  height: fit-content;
  width: 1050px;
}
.nftCardsSectionComponent{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: fit-content;
  padding: 80px 0px;
  width: 1280px;
  background-color: rgb(59, 59, 59);
}
.nftCardsRowDiv_2{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  height: fit-content;
  width: 690px;
}
.nftCardsRowDiv_3{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  height: fit-content;
  width: 690px;
}
.nftCardsRowDiv_4{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  height: fit-content;
  width: 690px;
}
.nftCardsSectionComponent_1{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: fit-content;
  padding: 80px 0px;
  width: 834px;
  background-color: rgb(59, 59, 59);
}
.nftCardsRowDiv_5{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  height: fit-content;
  width: 315px;
}
.nftCardsSectionComponent_2{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 80px 0px;
  width: 375px;
  background-color: rgb(59, 59, 59);
}