.logoImage{
  position: absolute;
  left: 0%;
  right: 0%;
  width: 100%;
  top: 0%;
  bottom: 0%;
  height: 100%;
  object-fit: cover;
}
.noOutlineLogoContainer{
  position: relative;
  width: 62px;
  height: 62px;
}