.notification_240 {
  overflow: hidden;
  width: 24px;
  height: 24px;
}
.notification_241 {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  top: 0px;
  bottom: 0px;
  height: auto;
}
