.notificationPage0 {
  position: absolute;
  width: 1440px;
  height: 67.78px;
  border-top-width: 1px;
  border-style: solid;
  border-color: rgb(40, 40, 40);
  background-color: rgb(24, 24, 24);
}
.notificationPage1 {
  overflow: hidden;
  position: absolute;
  width: 1440px;
  left: 0px;
  height: 1px;
  top: 67.78px;
}
.notificationPage2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: auto;
  height: fit-content;
  border-radius: 2px;
  position: absolute;
  left: 1327px;
  right: 20px;
  top: -2px;
  background-color: rgb(255, 255, 255, 0.3);
}
.notificationPage3 {
  overflow: hidden;
  border-radius: 2px;
  position: relative;
  width: 93px;
  height: 4px;
}
.notificationPage4 {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  height: 4px;
  top: 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}
.notificationPage5 {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  height: 66.78px;
  top: 1px;
  background: linear-gradient(
    rgb(175, 40, 150, 1) 0%,
    rgb(80, 155, 245, 1) 100%
  );
}
.notificationPage6 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: -1.81px;
  height: fit-content;
  width: fit-content;
  padding-right: 36.13px;
  padding-bottom: 0.59px;
  position: absolute;
  left: 15px;
  top: calc(50% - 22.39px);
}
.notificationPage7 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: 1.2000000476837158px;
  line-height: 19.200000762939453px;
}
.notificationPage8 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Helvetica Neue;
  font-weight: 400;
  line-height: 25.600000381469727px;
}
.notificationPage9 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: fit-content;
  height: fit-content;
  padding-left: 34px;
  padding-right: 33.81px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 500px;
  position: absolute;
  left: 1262.19px;
  top: 11.39px;
  background-color: rgb(255, 255, 255);
}
.notificationPage10 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-family: Helvetica Neue;
  font-weight: 700;
}
