.heroImage{
  object-fit: cover;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
.importantText{
  height: fit-content;
  text-align: center;
  color: rgb(244, 86, 154);
  font-size: 30px;
  font-weight: 900;
}
.headerFrame{
  overflow: hidden;
  display: flex;
  align-items: center;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.mainFrame{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  height: fit-content;
  padding: 24px;
  border-radius: 14px;
  position: absolute;
  box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.15);
  width: 581px;
  left: calc(50% - 290px);
  top: calc(50% - 191px);
  background-color: rgb(255, 255, 255);
}
.pageContent{
  overflow: hidden;
  position: relative;
  width: 1440px;
  height: 799px;
  flex-shrink: 0;
}
.orgSignUp{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
  background-color: rgb(255, 255, 255);
  font-family: Avenir;
}