.paddingComponent0 {
  overflow: hidden;
  position: relative;
  width: 142px;
  height: 49px;
  background-color: rgb(221, 47, 47);
}
.paddingComponent1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: calc(49.29577464788733%);
  height: calc(61.22448979591837%);
  border-radius: 4px;
  position: absolute;
  left: calc(25.352112676056336%);
  right: calc(25.352112676056336%);
  top: calc(20.408163265306122%);
  bottom: calc(18.367346938775512%);
  background-color: rgb(81, 129, 184);
}
.paddingComponent2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: fit-content;
  width: fit-content;
  position: relative;
}
.paddingComponent3 {
  width: 5px;
  height: 7px;
  position: relative;
  overflow: hidden;
}
.paddingComponent4 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 15px;
}
.paddingComponent5 {
  width: 5px;
  height: 8px;
  position: relative;
  overflow: hidden;
}
