.page0 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 105px;
  padding-bottom: 105px;
  position: absolute;
  background-color: rgb(211, 211, 211);
}
.page1 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
}
