.part_2Page0 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
  position: absolute;
  width: 1440px;
  left: 0px;
  top: 1414px;
}
.part_2Page1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 65px;
  height: fit-content;
  width: fit-content;
  position: relative;
}
.part_2Page2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  height: fit-content;
  width: fit-content;
  position: relative;
}
.part_2Page3 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(239, 121, 12);
  font-size: 48px;
  font-family: Montserrat;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 50px;
}
.part_2Page4 {
  position: absolute;
  width: 640px;
  left: 730px;
  height: 640px;
  top: 477px;
}
