.placeholder-image-0 {
  position: relative;
  width: 80px;
  height: 55px;
  background: ;
}
.placeholder-image-1 {
  object-fit: cover;
  position: absolute;
  left: calc(0%);
  right: calc(0%);
  width: calc(100%);
  top: calc(0%);
  bottom: calc(0%);
  height: calc(100%);
  border-radius: 6px;
}
