.playerNext_24Solid0 {
  overflow: hidden;
  width: 24px;
  height: 24px;
  position: relative;
}
.playerNext_24Solid1 {
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  top: 0px;
  bottom: 0px;
  height: auto;
}
