.rectanglePage0 {
  position: absolute;
  rotate: -90deg;
  width: 457.74px;
  left: 643.42px;
  height: 798.28px;
  top: 644.62px;
  overflow: hidden;
}
.rectanglePage1 {
  transform: scale(-59.846061644152165%, 59.846061644152165%);
  transform-origin: top left;
  height: 100%;
  width: 100%;
}
