.screeneqDesktop{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  height: fit-content;
  padding: 80px 0px;
  position: relative;
  width: 1440px;
  background-color: rgb(43, 43, 43);
}
.sectionHeadline{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  width: 1046px;
  flex-shrink: 0;
}
.heading{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.trendingCollection{
  height: fit-content;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 1.2000000476837158em;
}
.subhead{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.checkoutOurWeeklyUpdatedTrendingCollection{
  height: fit-content;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.600000023841858em;
}
.collectionCardRow{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  height: fit-content;
  position: relative;
  width: 1050px;
  flex-shrink: 0;
}