.setupWalletIcon{
  overflow: hidden;
  position: relative;
  width: 276px;
  height: 276px;
}
.vector{
  position: absolute;
  left: 8.333333333333332%;
  right: 8.333333333333332%;
  width: calc(83.33333333333334%);
  top: 8.333333333333332%;
  bottom: 8.333333333333332%;
  height: 83.33333333333334%;
}
.group{
  position: absolute;
  left: 54px;
  right: 54px;
  width: auto;
  top: 54px;
  bottom: 54px;
  height: auto;
}
.vectorImage{
  position: absolute;
  left: 44.927536231884055%;
  right: 50.65471262171648%;
  width: calc(4.417751146399468%);
  top: 12.681159420289855%;
  bottom: 82.90112260459127%;
  height: 4.417717975118876%;
}
.vectorImage1{
  position: absolute;
  left: 14.855072463768115%;
  right: 80.727209561113%;
  width: calc(4.41771797511889%);
  top: 70.65217391304348%;
  bottom: 24.930074940557066%;
  height: 4.41775114639945%;
}
.vectorImage2{
  position: absolute;
  left: 84.05869525411855%;
  right: 11.523548070935236%;
  width: calc(4.417756674946217%);
  top: 67.7536231884058%;
  bottom: 27.828625665194746%;
  height: 4.417751146399457%;
}
.vectorImage3{
  position: absolute;
  left: 24.41767264103544%;
  right: 70.50307073454925%;
  width: calc(5.079256624415308%);
  top: 21.519050045289855%;
  bottom: 73.40169471243154%;
  height: 5.079255242278606%;
}
.vectorImage4{
  position: absolute;
  left: 77.79746124709862%;
  right: 16.6350561639537%;
  width: calc(5.5674825889476764%);
  top: 78.15896739130434%;
  bottom: 16.27355001974797%;
  height: 5.567482588947687%;
}
.vectorImage5{
  position: absolute;
  left: 16.893406190733977%;
  right: 78.6048097886901%;
  width: calc(4.501784020575926%);
  top: 83.7732397991678%;
  bottom: 11.900692746259164%;
  height: 4.326067454573039%;
}
.vectorImage6{
  position: absolute;
  left: 82.2189552196558%;
  right: 13.360762596130371%;
  width: calc(4.420282184213832%);
  top: 24.21466993248981%;
  bottom: 71.34437077287315%;
  height: 4.4409592946370395%;
}
.vectorImage7{
  position: absolute;
  left: 61.97424626004868%;
  right: 23.994530111119367%;
  width: calc(14.031223628831953%);
  top: 46.93005326865376%;
  bottom: 44.55334483713344%;
  height: 8.516601894212805%;
}
.vectorImage8{
  position: absolute;
  left: 71.20526631673178%;
  right: 25.581373684648156%;
  width: calc(3.2133599986200636%);
  top: 48.83968519127887%;
  bottom: 47.9469555011694%;
  height: 3.213359307551734%;
}
.vectorImage9{
  position: absolute;
  left: 71.93149069081181%;
  right: 26.309483465941057%;
  width: calc(1.7590258432471302%);
  top: 49.56673331882643%;
  bottom: 48.674240837926455%;
  height: 1.759025843247116%;
}
.vectorImage10{
  position: absolute;
  left: 22.98833460047625%;
  right: 30.088633385257445%;
  width: calc(46.923032014266305%);
  top: 36.110258793485336%;
  bottom: 25.55301500403363%;
  height: 38.33672620248103%;
}
.vectorImage11{
  position: absolute;
  left: 27.106415016063746%;
  right: 32.489735147227414%;
  width: calc(40.40384983670884%);
  top: 23.940454013105754%;
  bottom: 42.36567400503849%;
  height: 33.69387198185576%;
}
.vectorImage12{
  position: absolute;
  left: 58.05003401161968%;
  right: 38.26612735140151%;
  width: calc(3.6838386369788125%);
  top: 41.64696569028108%;
  bottom: 54.669239901114196%;
  height: 3.683794408604726%;
}
.vectorImage13{
  position: absolute;
  left: 60.16471973363904%;
  right: 36.151481365811996%;
  width: calc(3.6837989005489646%);
  top: 40.827565953351446%;
  bottom: 55.48863307289456%;
  height: 3.6838009737539963%;
}
.vectorImage14{
  position: absolute;
  left: 30.7783375615659%;
  right: 61.80969390316285%;
  width: calc(7.411968535271242%);
  top: 36.07967763707258%;
  bottom: 57.68147966136104%;
  height: 6.238842701566384%;
}
.vectorImage15{
  position: absolute;
  left: 53.36362313533175%;
  right: 41.31491909856382%;
  width: calc(5.32145776610443%);
  top: 27.951138261435688%;
  bottom: 68.44661857770838%;
  height: 3.6022431608559344%;
}
.vectorImage16{
  position: absolute;
  left: 33.18157196044922%;
  right: 65.7716301040373%;
  width: calc(1.0467979355134815%);
  top: 46.3251915530882%;
  bottom: 51.87772944353629%;
  height: 1.797079003375508%;
}
.vectorImage17{
  position: absolute;
  left: 34.1192162555197%;
  right: 64.21659355578215%;
  width: calc(1.664190188698143%);
  top: 45.88035362354223%;
  bottom: 52.08486042160919%;
  height: 2.03478595484858%;
}
.vectorImage18{
  position: absolute;
  left: 35.66721211309019%;
  right: 62.882526370062344%;
  width: calc(1.450261516847469%);
  top: 45.138099228126414%;
  bottom: 52.80949585679649%;
  height: 2.0524049150770978%;
}
.vectorImage19{
  position: absolute;
  left: 37.583210157311484%;
  right: 61.05564962262693%;
  width: calc(1.3611402200615856%);
  top: 44.51555445574332%;
  bottom: 53.65036933318429%;
  height: 1.834076211072393%;
}
.vectorImage20{
  position: absolute;
  left: 40.439097086588546%;
  right: 58.10600778330928%;
  width: calc(1.454895130102173%);
  top: 43.28317780425583%;
  bottom: 54.65877470762833%;
  height: 2.0580474881158395%;
}
.vectorImage21{
  position: absolute;
  left: 42.204121575839274%;
  right: 56.406886335732274%;
  width: calc(1.3889920884284521%);
  top: 42.756680474765055%;
  bottom: 55.32060930694359%;
  height: 1.922710218291357%;
}
.vectorImage22{
  position: absolute;
  left: 43.496568652166836%;
  right: 55.40651342143184%;
  width: calc(1.096917926401325%);
  top: 42.06739232160043%;
  bottom: 55.86418103480685%;
  height: 2.0684266435927228%;
}
.vectorImage23{
  position: absolute;
  left: 45.256235979605414%;
  right: 53.39286059573076%;
  width: calc(1.3509034246638265%);
  top: 41.642963022425555%;
  bottom: 56.489381928374804%;
  height: 1.8676550491996409%;
}
.vectorImage24{
  position: absolute;
  left: 48.295847574869796%;
  right: 50.30877097793247%;
  width: calc(1.3953814471977353%);
  top: 40.390827344811484%;
  bottom: 57.684406335803054%;
  height: 1.924766319385462%;
}
.vectorImage25{
  position: absolute;
  left: 50.01319664112036%;
  right: 48.55705810629804%;
  width: calc(1.4297452525816041%);
  top: 39.755815699480586%;
  bottom: 58.38333437408226%;
  height: 1.8608499264371545%;
}
.vectorImage26{
  position: absolute;
  left: 51.590391518413156%;
  right: 47.36283274664395%;
  width: calc(1.0467757349428908%);
  top: 39.20472186544667%;
  bottom: 58.9982347211976%;
  height: 1.7970434133557305%;
}
.vectorImage27{
  position: absolute;
  left: 52.52741385197294%;
  right: 45.808889382127404%;
  width: calc(1.6636967658996582%);
  top: 38.757105841152914%;
  bottom: 59.2081776563672%;
  height: 2.0347165024798883%;
}
.vectorImage28{
  position: absolute;
  left: 55.614117608554125%;
  right: 42.93542132861372%;
  width: calc(1.4504610628321544%);
  top: 37.421795941781305%;
  bottom: 60.525873605755784%;
  height: 2.052330452462911%;
}
.vectorImage29{
  position: absolute;
  left: 57.52959320510643%;
  right: 41.10927072124205%;
  width: calc(1.3611360736515223%);
  top: 36.79797131082286%;
  bottom: 61.367345201796375%;
  height: 1.8346834873807651%;
}
.vectorImage30{
  position: absolute;
  left: 58.84742736816406%;
  right: 39.69767421915911%;
  width: calc(1.454898412676826%);
  top: 36.16130110146343%;
  bottom: 61.78051233291626%;
  height: 2.0581865656203107%;
}
.vectorImage31{
  position: absolute;
  left: 60.61225559400476%;
  right: 37.998555363088414%;
  width: calc(1.3891890429068283%);
  top: 35.63484523607337%;
  bottom: 62.44235176970994%;
  height: 1.9228029942166884%;
}
.vectorImage32{
  position: absolute;
  left: 35.541559302288555%;
  right: 48.48768261895663%;
  width: calc(15.970758078754805%);
  top: 45.0739128002222%;
  bottom: 48.09275088102921%;
  height: 6.833336318748586%;
}
.vectorImage33{
  position: absolute;
  left: 36.20365806247877%;
  right: 52.40253503771795%;
  width: calc(11.393806899803273%);
  top: 48.556159199147984%;
  bottom: 46.38079767641814%;
  height: 5.063043124433875%;
}
.vectorImage34{
  position: absolute;
  left: 44.22138048254926%;
  right: 47.90719833926878%;
  width: calc(7.871421178181961%);
  top: 30.112982487332996%;
  bottom: 66.33537092070648%;
  height: 3.5516465919605196%;
}
.vectorImage35{
  position: absolute;
  left: 27.720326962678328%;
  right: 32.69964024640512%;
  width: calc(39.580032790916555%);
  top: 49.813765373782836%;
  bottom: 28.346374069435008%;
  height: 21.839860556782156%;
}
.vectorImage36{
  position: absolute;
  left: 27.720326962678328%;
  right: 32.69964024640512%;
  width: calc(39.580032790916555%);
  top: 49.813765373782836%;
  bottom: 28.346374069435008%;
  height: 21.839860556782156%;
}
.vectorImage37{
  position: absolute;
  left: 22.691587088764578%;
  right: 32.16413000355596%;
  width: calc(45.14428290767946%);
  top: 42.16996897821841%;
  bottom: 24.850010526353035%;
  height: 32.98002049542856%;
}
.vectorImage38{
  position: absolute;
  left: 58.25036643207937%;
  right: 38.62609621407329%;
  width: calc(3.1235373538473397%);
  top: 56.62034076193104%;
  bottom: 39.85538413559181%;
  height: 3.524275102477148%;
}
.vectorImage39{
  position: absolute;
  left: 59.086332459380664%;
  right: 39.46169649345288%;
  width: calc(1.4519710471664595%);
  top: 57.56391442340353%;
  bottom: 40.79870106517405%;
  height: 1.6373845114224181%;
}