.sideBar{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  width: 62px;
  height: 676px;
}
.coverOpacityImage{
  object-fit: cover;
  opacity: 1;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
.ellipseImage{
  width: 100%;
  height: 42px;
  flex-shrink: 0;
  object-fit: cover;
  opacity: 1;
  border-radius: 50%;
}
.sideBarComponent{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  width: 62px;
  height: 676px;
  background-color: rgb(255, 255, 255);
}
.ellipseImageComponent{
  width: 100%;
  height: 42px;
  flex-shrink: 0;
  object-fit: cover;
  opacity: 1;
  border-radius: 50%;
}