.startEarningIcon {
  overflow: hidden;
  position: relative;
  width: 276px;
  height: 276px;
}
.vector {
  position: absolute;
  left: 8.333333333333332%;
  right: 8.333333333333332%;
  width: calc(83.33333333333334%);
  top: 8.333333333333332%;
  bottom: 8.333333333333332%;
  height: 83.33333333333334%;
}
.group {
  position: absolute;
  left: 68px;
  right: 54px;
  width: auto;
  top: 68px;
  bottom: 54px;
  height: auto;
}
.vectorImage {
  position: absolute;
  left: 20.28985507246377%;
  right: 75.29242695241734%;
  width: calc(4.41771797511889%);
  top: 29.347826086956523%;
  bottom: 66.2344559379246%;
  height: 4.417717975118876%;
}
.vectorImage1 {
  position: absolute;
  left: 16.304347826086957%;
  right: 79.27793419879416%;
  width: calc(4.41771797511889%);
  top: 68.47826086956522%;
  bottom: 27.103987984035328%;
  height: 4.417751146399453%;
}
.vectorImage2 {
  position: absolute;
  left: 75%;
  right: 20.582248853600543%;
  width: calc(4.417751146399457%);
  top: 15.217391304347828%;
  bottom: 80.36489072053328%;
  height: 4.41771797511889%;
}
.vectorImage3 {
  position: absolute;
  left: 21.519050045289855%;
  right: 73.40169333029485%;
  width: calc(5.079256624415294%);
  top: 14.997310914855072%;
  bottom: 79.92343176966128%;
  height: 5.079257315483645%;
}
.vectorImage4 {
  position: absolute;
  left: 79.60824275362319%;
  right: 14.824274657429129%;
  width: calc(5.5674825889476836%);
  top: 28.158967391304344%;
  bottom: 66.27351408419402%;
  height: 5.5675185245016365%;
}
.vectorImage5 {
  position: absolute;
  left: 16.16883208786232%;
  right: 79.32938389156176%;
  width: calc(4.501784020575926%);
  top: 80.15030570652173%;
  bottom: 15.523626838905225%;
  height: 4.326067454573041%;
}
.vectorImage6 {
  position: absolute;
  left: 76.42114611639492%;
  right: 19.15857550026714%;
  width: calc(4.420278383337937%);
  top: 72.4029098731884%;
  bottom: 23.156035119208738%;
  height: 4.441055007602856%;
}
.groupImage {
  position: absolute;
  left: 68.28px;
  right: 76.97px;
  width: auto;
  top: 215.29px;
  bottom: 38.36px;
  height: auto;
}
.groupImage1 {
  position: absolute;
  left: 87.15px;
  right: 122.96px;
  width: auto;
  top: 65.99px;
  bottom: 129.06px;
  height: auto;
}
.vectorImage7 {
  position: absolute;
  left: 36.51193812273551%;
  right: 50.01940658127052%;
  width: calc(13.468655295993969%);
  top: 35.26947463768116%;
  bottom: 61.130883382714316%;
  height: 3.5996419796045274%;
}
.vectorImage8 {
  position: absolute;
  left: 38.44082597373188%;
  right: 48.20742814437203%;
  width: calc(13.351745881896086%);
  top: 45.56725543478261%;
  bottom: 50.896529529405676%;
  height: 3.536215035811715%;
}
.vectorImage9 {
  position: absolute;
  left: 37.490800498188406%;
  right: 49.15727532428244%;
  width: calc(13.351924177529156%);
  top: 40.17917798913043%;
  bottom: 56.28463772759922%;
  height: 3.5361842832703516%;
}
.vectorImage10 {
  position: absolute;
  left: 35.481417006340585%;
  right: 57.992190208987914%;
  width: calc(6.5263927846714935%);
  top: 28.973477128623188%;
  bottom: 66.5841275367184%;
  height: 4.442395334658414%;
}
.groupImage2 {
  position: absolute;
  left: 124.58px;
  right: 85.58px;
  width: auto;
  top: 82.87px;
  bottom: 157.14px;
  height: auto;
}
.vectorImage11 {
  position: absolute;
  left: 48.196013077445656%;
  right: 47.84420676853346%;
  width: calc(3.9597801540208835%);
  top: 34.56394361413043%;
  bottom: 61.47623753202134%;
  height: 3.959818853848226%;
}
.vectorImage12 {
  position: absolute;
  left: 55.271314538043484%;
  right: 40.76890254366225%;
  width: calc(3.959782918294266%);
  top: 34.56394361413043%;
  bottom: 61.47623753202134%;
  height: 3.959818853848226%;
}
.vectorImage13 {
  position: absolute;
  left: 62.34679291213768%;
  right: 33.69342416956805%;
  width: calc(3.959782918294273%);
  top: 34.56394361413043%;
  bottom: 61.47623753202134%;
  height: 3.959818853848226%;
}
.vectorImage14 {
  position: absolute;
  left: 31.404268568840582%;
  right: 36.43987627996915%;
  width: calc(32.15585515119027%);
  top: 63.02295629528986%;
  bottom: 25.89400471120641%;
  height: 11.083038993503731%;
}
.vectorImage15 {
  position: absolute;
  left: 61.484162703804344%;
  right: 22.03340945036515%;
  width: calc(16.482427845830507%);
  top: 45.17238451086957%;
  bottom: 41.206445555756055%;
  height: 13.621169933374375%;
}
.vectorImage16 {
  position: absolute;
  left: 34.06646286231884%;
  right: 57.23796789196955%;
  width: calc(8.69556924571161%);
  top: 68.20652173913044%;
  bottom: 23.09792629186658%;
  height: 8.695551969002981%;
}
.vectorImage17 {
  position: absolute;
  left: 30.773041213768117%;
  right: 32.42800892263219%;
  width: calc(36.79894986359969%);
  top: 44.69896399456522%;
  bottom: 30.7458379994268%;
  height: 24.55519800600798%;
}
.vectorImage18 {
  position: absolute;
  left: 36.11052139945652%;
  right: 59.52090940613678%;
  width: calc(4.368569194406696%);
  top: 70.35566689311594%;
  bottom: 25.275806413180586%;
  height: 4.368526693703476%;
}
.groupImage3 {
  position: absolute;
  left: 81.52px;
  right: 74.7px;
  width: auto;
  top: 123.82px;
  bottom: 84.15px;
  height: auto;
}
.vectorImage19 {
  position: absolute;
  left: 29.950570369112317%;
  right: 31.29473700039629%;
  width: calc(38.7546926304914%);
  top: 43.76627604166667%;
  bottom: 47.17259545257126%;
  height: 9.06112850576207%;
}
