.todoStep{
  position: absolute;
  width: 56px;
  left: 0px;
  height: 56px;
  top: 0px;
  background-color: rgb(244, 86, 154);
  border-radius: 50%;
}
.todoStepFrame{
  position: relative;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.todoStepEllipse{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(244, 86, 154);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 900;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.todoStepIcon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.todoStepTaskFrame{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  min-width: 0px;
  flex: 1 0 0%;
}
.todoStepTask{
  width: 20px;
  height: 20.29px;
  flex-shrink: 0;
  object-fit: cover;
  opacity: 0.30000001192092896;
}
.todoStepTime{
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 20px;
  border-radius: 5px;
  position: relative;
  width: 368px;
  height: 86px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  background-color: rgb(255, 255, 255);
}
.todoStepImage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 900;
  letter-spacing: 0.01px;
  line-height: 23px;
  text-decoration: line-through;
}
.completeStep{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.completeStepMark{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  min-width: 0px;
  flex: 1 0 0%;
}
.completeStepTaskFrame{
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 20px;
  border-radius: 5px;
  position: relative;
  width: 368px;
  height: 86px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  background-color: rgb(255, 255, 255);
}
.completeStepTask{
  position: absolute;
  width: 56px;
  left: 0px;
  height: 56px;
  top: 0px;
  background-color: rgb(217, 217, 217);
  border-radius: 50%;
}
.completeStepTime{
  position: relative;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.unsupportedStep{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 900;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.unsupportedStepFrame{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.unsupportedStepEllipse{
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  padding: 0px 8px;
  border-radius: 4px;
  position: relative;
  flex-shrink: 0;
  background-color: rgb(0, 0, 0);
}
.unsupportedStepIcon{
  display: flex;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.unsupportedStepTaskFrame{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.unsupportedStepTask{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  min-width: 0px;
  flex: 1 0 0%;
}
.unsupportedStepComingSoon{
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 20px;
  border-radius: 5px;
  position: relative;
  width: 368px;
  height: 86px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  background-color: rgb(245, 241, 241);
}
.unsupportedStepTime{
  position: absolute;
  width: 56px;
  left: 0px;
  height: 56px;
  top: 0px;
  background-color: rgb(217, 217, 217);
  border-radius: 50%;
}
.upNextStep{
  position: relative;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.upNextStepFrame{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 900;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.upNextStepEllipse{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.upNextStepIcon{
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  padding: 0px 8px;
  border-radius: 4px;
  position: relative;
  flex-shrink: 0;
  background-color: rgb(0, 0, 0);
}
.upNextStepTaskFrame{
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
}
.upNextStepTask{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.upNextStepComingUp{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  min-width: 0px;
  flex: 1 0 0%;
}
.upNextStepTime{
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 20px;
  border-radius: 5px;
  position: relative;
  width: 368px;
  height: 86px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  background-color: rgb(255, 255, 255);
}