.circle{
  position: absolute;
  width: 56px;
  left: 0px;
  height: 56px;
  top: 0px;
  background-color: rgb(244, 86, 154);
  border-radius: 50%;
}
.frame{
  position: relative;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.task{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(244, 86, 154);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 900;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.time{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  min-width: 0px;
  flex: 1 0 0%;
}
.image{
  width: 20px;
  height: 20.29px;
  flex-shrink: 0;
  object-fit: cover;
  opacity: 0.30000001192092896;
}
.step{
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 20px;
  border-radius: 5px;
  position: relative;
  width: 368px;
  height: 86px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  background-color: rgb(255, 255, 255);
}
.taskText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 900;
  letter-spacing: 0.01px;
  line-height: 23px;
  text-decoration: line-through;
}
.timeText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.containerDiv{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  min-width: 0px;
  flex: 1 0 0%;
}
.stepComponent{
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 20px;
  border-radius: 5px;
  position: relative;
  width: 368px;
  height: 86px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  background-color: rgb(255, 255, 255);
}
.circleDiv{
  position: absolute;
  width: 56px;
  left: 0px;
  height: 56px;
  top: 0px;
  background-color: rgb(217, 217, 217);
  border-radius: 50%;
}
.frameDiv{
  position: relative;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.taskText1{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 900;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.comingSoon{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.frameDiv1{
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  padding: 0px 8px;
  border-radius: 4px;
  position: relative;
  flex-shrink: 0;
  background-color: rgb(0, 0, 0);
}
.frameText{
  display: flex;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.timeText1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.containerDiv1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  min-width: 0px;
  flex: 1 0 0%;
}
.stepComponent1{
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 20px;
  border-radius: 5px;
  position: relative;
  width: 368px;
  height: 86px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  background-color: rgb(245, 241, 241);
}
.circleDiv1{
  position: absolute;
  width: 56px;
  left: 0px;
  height: 56px;
  top: 0px;
  background-color: rgb(217, 217, 217);
  border-radius: 50%;
}
.frameDiv1{
  position: relative;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.taskText2{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 900;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.upNext{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.frameDiv2{
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  padding: 0px 8px;
  border-radius: 4px;
  position: relative;
  flex-shrink: 0;
  background-color: rgb(0, 0, 0);
}
.frameText1{
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
}
.timeText2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.containerDiv2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  min-width: 0px;
  flex: 1 0 0%;
}
.stepComponent2{
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 20px;
  border-radius: 5px;
  position: relative;
  width: 368px;
  height: 86px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  background-color: rgb(255, 255, 255);
}