.stepEllipse{
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: rgb(244, 86, 154);
  border-radius: 50%;
}
.stepFrame8{
  position: relative;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.stepDoThisTask{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(244, 86, 154);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 900;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.stepTimeToDoThisTask{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.stepFrame7{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  min-width: 0px;
  flex: 1 0 0%;
}
.stepImg{
  width: 20px;
  height: 20.29px;
  flex-shrink: 0;
  object-fit: cover;
  opacity: 0.30000001192092896;
}
.stepContainer{
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 20px;
  border-radius: 5px;
  position: relative;
  width: 368px;
  height: 86px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  background-color: rgb(255, 255, 255);
}
.stepDoThisTaskText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 900;
  letter-spacing: 0.01px;
  line-height: 23px;
  text-decoration: line-through;
}
.stepTimeToDoThisTaskText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.stepFrame7Div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  min-width: 0px;
  flex: 1 0 0%;
}
.stepComponent{
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 20px;
  border-radius: 5px;
  position: relative;
  width: 368px;
  height: 86px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  background-color: rgb(255, 255, 255);
}
.stepEllipseDiv{
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: rgb(217, 217, 217);
  border-radius: 50%;
}
.stepFrame8Div{
  position: relative;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.stepDoThisTaskText1{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 900;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.stepComingSoonImportant{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.stepFrame13{
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  padding: 0px 8px;
  border-radius: 4px;
  position: relative;
  flex-shrink: 0;
  background-color: rgb(0, 0, 0);
}
.stepFrame14{
  display: flex;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.stepTimeToDoThisTaskText1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.stepFrame7Div1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  min-width: 0px;
  flex: 1 0 0%;
}
.stepComponent1{
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 20px;
  border-radius: 5px;
  position: relative;
  width: 368px;
  height: 86px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  background-color: rgb(245, 241, 241);
}
.stepEllipseDiv1{
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: rgb(217, 217, 217);
  border-radius: 50%;
}
.stepFrame8Div1{
  position: relative;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.stepDoThisTaskText2{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 900;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.stepUpNextImportant{
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.stepFrame14Div{
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  padding: 0px 8px;
  border-radius: 4px;
  position: relative;
  flex-shrink: 0;
  background-color: rgb(0, 0, 0);
}
.stepFrame38{
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  position: relative;
  flex-shrink: 0;
}
.stepTimeToDoThisTaskText2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(148, 148, 148);
  font-size: 14px;
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 23px;
}
.stepFrame7Div2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
  position: relative;
  min-width: 0px;
  flex: 1 0 0%;
}
.stepComponent2{
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 20px;
  border-radius: 5px;
  position: relative;
  width: 368px;
  height: 86px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  background-color: rgb(255, 255, 255);
}