.card-0 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 25px;
  border-radius: 40px;
  position: absolute;
  left: calc(0.9578926362003591%);
  right: calc(85.57174216723209%);
  width: calc(13.470365196567556%);
  top: calc(6.030318174246211%);
  bottom: calc(78.97717807762785%);
  height: calc(14.99250374812594%);
  background-color: rgb(63, 58, 77);
}
.card-1 {
  object-fit: cover;
  width: 100%;
  height: 676px;
}
.card-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  height: 146px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  width: 100%;
}
.card-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  position: relative;
}
.card-4 {
  color: rgb(255, 255, 255);
  width: 379px;
  height: 44px;
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
}
.card-5 {
  color: rgb(255, 255, 255);
  width: 95px;
  height: 44px;
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
}
.card-6 {
  color: rgb(255, 255, 255);
  height: 82px;
  font-size: 24px;
  font-family: Inter;
  font-weight: 300;
}
