.subscribeWidgetMobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: fit-content;
  width: fit-content;
  position: relative;
}
.typeForm{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 16px 20px;
  border-radius: 20px;
  position: relative;
  width: 315px;
  height: 46px;
  flex-shrink: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(133, 133, 132);
  background-color: rgb(255, 255, 255);
}
.enterYourEmailAddress{
  height: fit-content;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
  color: rgb(43, 43, 43);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}