.subscribeForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 16px 0px 16px 20px;
  border-radius: 20px;
  position: relative;
  width: 420px;
  height: 60px;
  background-color: rgb(255, 255, 255);
}
.enterYourEmailHere {
  height: fit-content;
  flex-shrink: 0;
  flex: 1 1 0%;
  min-width: 0px;
  color: rgb(43, 43, 43);
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
