.created{
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4em;
}
.text302{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Space Mono;
  font-weight: 400;
  line-height: 1.4em;
}
.frame_81{
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
}
.tabComponent{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: fit-content;
  padding: 0px 30px;
  height: 60px;
}