.tabsContainer{
  display: flex;
  align-items: flex-start;
  width: fit-content;
  height: fit-content;
}
.variant2Container{
  display: flex;
  align-items: flex-start;
  width: fit-content;
  height: fit-content;
}
.variant3Container{
  display: flex;
  align-items: flex-start;
  width: fit-content;
  height: fit-content;
}