.topProgramsText{
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 700;
}
.ourProgramsDescription{
  width: 534px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.03em;
}
.citiesContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  height: fit-content;
  width: fit-content;
}
.topProgramsContainer{
  display: flex;
  align-items: flex-start;
  gap: 36px;
  width: fit-content;
  height: fit-content;
}
.topProgramsComponent{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  height: fit-content;
  padding: 56px 0px;
  width: 1440px;
  background-color: rgb(13, 17, 20);
}