.vector {
  position: absolute;
  left: 0%;
  right: 0%;
  width: 100%;
  top: 0%;
  bottom: 0%;
  height: 100%;
}
.vectorImage {
  position: absolute;
  left: 0%;
  right: 0%;
  width: 100%;
  top: 0%;
  bottom: 50.68%;
  height: 49.32%;
}
.vectorImage1 {
  position: absolute;
  left: 6.93%;
  right: 54.67%;
  width: 38.4%;
  top: 18.8%;
  bottom: 79.7%;
  height: 1.49%;
}
.vectorImage2 {
  position: absolute;
  left: 7.16%;
  right: 55.71%;
  width: 37.13%;
  top: 15.53%;
  bottom: 82.75%;
  height: 1.72%;
}
.vectorImage3 {
  position: absolute;
  left: 6.67%;
  right: 6.4%;
  width: 86.93%;
  top: 24.28%;
  bottom: 54.05%;
  height: 21.67%;
}
.vectorImage4 {
  position: absolute;
  left: 13.95%;
  right: 43.71%;
  width: 42.34%;
  top: 28.36%;
  bottom: 66.71%;
  height: 4.93%;
}
.vectorImage5 {
  position: absolute;
  left: 6.4%;
  right: 82.93%;
  width: 10.67%;
  top: 6.48%;
  bottom: 88.54%;
  height: 4.98%;
}
.vectorImage6 {
  position: absolute;
  left: 8.53%;
  right: 85.07%;
  width: 6.4%;
  top: 7.47%;
  bottom: 89.54%;
  height: 2.99%;
}
.vectorImage7 {
  position: absolute;
  left: 9.6%;
  right: 86.13%;
  width: 4.27%;
  top: 7.97%;
  bottom: 90.04%;
  height: 1.99%;
}
.vectorImage8 {
  position: absolute;
  left: 36.73%;
  right: 36.51%;
  width: 26.76%;
  top: 8.19%;
  bottom: 88.94%;
  height: 2.87%;
}
.vectorImage9 {
  position: absolute;
  left: 82.93%;
  right: 6.4%;
  width: 10.67%;
  top: 6.48%;
  bottom: 88.54%;
  height: 4.98%;
}
.group {
  position: absolute;
  left: 246.95px;
  right: -248.5px;
  width: auto;
  top: 46.37px;
  bottom: -49.46px;
  height: auto;
}
.maskGroup {
}
.vectorImage10 {
  position: absolute;
  left: 89.6%;
  right: 4.53%;
  width: 5.87%;
  top: 2.16%;
  bottom: 96.43%;
  height: 1.41%;
}
.vectorImage11 {
  position: absolute;
  left: 95.73%;
  right: 3.91%;
  width: 0.35%;
  top: 2.62%;
  bottom: 96.89%;
  height: 0.5%;
}
.vectorImage12 {
  position: absolute;
  left: 90.13%;
  right: 5.07%;
  width: 4.8%;
  top: 2.41%;
  bottom: 96.68%;
  height: 0.91%;
}
.vectorImage13 {
  position: absolute;
  left: 78.31%;
  right: 11.74%;
  width: 9.95%;
  top: 2.16%;
  bottom: 96.47%;
  height: 1.37%;
}
.vectorImage14 {
  position: absolute;
  left: 9.23%;
  right: 83.67%;
  width: 7.11%;
  top: 1.98%;
  bottom: 96.75%;
  height: 1.27%;
}
.vectorImage15 {
  position: absolute;
  left: 80.53%;
  right: 13.07%;
  width: 6.4%;
  top: 27.9%;
  bottom: 69.12%;
  height: 2.99%;
}
.groupImage {
  position: absolute;
  left: 19.35px;
  right: 20.13px;
  width: auto;
  top: 393.34px;
  bottom: 153.78px;
  height: auto;
}
.vectorImage16 {
  position: absolute;
  left: 12.27%;
  right: 66.33%;
  width: 21.4%;
  top: 68.84%;
  bottom: 29.25%;
  height: 1.91%;
}
.vectorImage17 {
  position: absolute;
  left: 12.28%;
  right: 49.37%;
  width: 38.34%;
  top: 72.07%;
  bottom: 26.63%;
  height: 1.31%;
}
.vectorImage18 {
  position: absolute;
  left: 12.22%;
  right: 40.38%;
  width: 47.4%;
  top: 65.96%;
  bottom: 32.32%;
  height: 1.72%;
}
.vectorImage19 {
  position: absolute;
  left: 66.93%;
  right: 10.97%;
  width: 22.1%;
  top: 65.75%;
  bottom: 31.76%;
  height: 2.49%;
}
.vectorImage20 {
  position: absolute;
  left: 71.07%;
  right: 15.27%;
  width: 13.67%;
  top: 66.43%;
  bottom: 32.11%;
  height: 1.46%;
}
.vectorImage21 {
  position: absolute;
  left: 81.6%;
  right: 10.93%;
  width: 7.47%;
  top: 69.86%;
  bottom: 26.65%;
  height: 3.49%;
}
.groupImage1 {
  position: absolute;
  left: 240.76px;
  right: -250.05px;
  width: auto;
  top: 437.39px;
  bottom: -443.18px;
  height: auto;
}
.maskGroupDiv {
}
.vectorImage22 {
  position: absolute;
  left: 12.27%;
  right: 53.6%;
  width: 34.13%;
  top: 36.86%;
  bottom: 57.16%;
  height: 5.98%;
}
.vectorImage23 {
  position: absolute;
  left: 17.72%;
  right: 58.94%;
  width: 23.34%;
  top: 39.21%;
  bottom: 59.1%;
  height: 1.69%;
}
.vectorImage24 {
  position: absolute;
  left: 53.33%;
  right: 12.53%;
  width: 34.13%;
  top: 36.86%;
  bottom: 57.16%;
  height: 5.98%;
}
.vectorImage25 {
  position: absolute;
  left: 56.31%;
  right: 15.11%;
  width: 28.57%;
  top: 39.2%;
  bottom: 59.1%;
  height: 1.7%;
}
.vectorImage26 {
  position: absolute;
  left: 7.11%;
  right: 69.27%;
  width: 23.62%;
  top: 54.81%;
  bottom: 42.22%;
  height: 2.97%;
}
.vectorImage27 {
  position: absolute;
  left: 41.6%;
  right: 30.42%;
  width: 27.98%;
  top: 54.84%;
  bottom: 40.97%;
  height: 4.19%;
}
.vectorImage28 {
  position: absolute;
  left: 81.25%;
  right: 6.89%;
  width: 11.86%;
  top: 54.85%;
  bottom: 42.93%;
  height: 2.22%;
}
.vectorImage29 {
  position: absolute;
  left: 32.27%;
  right: 32%;
  width: 35.73%;
  top: 99.38%;
  bottom: 0%;
  height: 0.62%;
}
.groupImage2 {
  position: absolute;
  left: 21.68px;
  right: 21.68px;
  width: auto;
  top: 542.48px;
  bottom: 26.28px;
  height: auto;
}
.vectorImage30 {
  position: absolute;
  left: 36%;
  right: 35.47%;
  width: 28.53%;
  top: 87.42%;
  bottom: 4.23%;
  height: 8.34%;
}
.groupImage3 {
  position: absolute;
  left: 119.99px;
  right: 118.45px;
  width: auto;
  top: 524.7px;
  bottom: 44.05px;
  height: auto;
}
.vectorImage31 {
  position: absolute;
  left: 7.47%;
  right: 46.53%;
  width: 46%;
  top: 87.11%;
  bottom: 4.23%;
  height: 8.65%;
}
.groupImage4 {
  position: absolute;
  left: 54.19px;
  right: -58.83px;
  width: auto;
  top: 559.48px;
  bottom: -562.49px;
  height: auto;
}
.maskGroupDiv1 {
}
.groupImage5 {
  position: absolute;
  left: 219.08px;
  right: -219.08px;
  width: auto;
  top: 559.48px;
  bottom: -559.55px;
  height: auto;
}
.maskGroupDiv2 {
}
.background {
  width: 290px;
  height: 621px;
}
.overlay {
  overflow: hidden;
  backdrop-filter: blur(1px);
  position: absolute;
  left: 0px;
  right: 0.31px;
  width: auto;
  top: 0px;
  bottom: 1.53px;
  height: auto;
  background-color: rgba(213, 213, 213, 0.34);
}
.chatbotCircle {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  right: 0.32px;
  width: auto;
  top: 0px;
  bottom: -0.42px;
  height: auto;
  background-color: rgb(98, 164, 70);
  border-radius: 50%;
}
.chatbotImage {
  position: absolute;
  left: 0px;
  right: 0.32px;
  width: auto;
  top: 0px;
  bottom: -0.42px;
  height: auto;
  object-fit: cover;
}
.chatbotIcon {
  position: absolute;
  left: 40.65%;
  right: 40.65%;
  width: 18.71%;
  top: 84.24%;
  bottom: 7.13%;
  height: 8.63%;
}
.hiimportantICanAnswerAnyOfYourQuestionsAboutWorkpay {
  flex: 1 1 0%;
  min-width: 0px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.message {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  height: fit-content;
  padding: 10px;
  border-radius: 8px;
  width: 184px;
  background-color: rgb(98, 164, 70);
}
.messages {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  width: 100%;
  flex: 1 1 0%;
  min-height: 0px;
}
.howDoIReviewExpenses {
  color: rgb(107, 114, 128);
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}
.input {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 8px;
  border-radius: 8px;
  width: 100%;
  flex: 1 1 0%;
  min-height: 0px;
  border-style: solid;
  border-color: rgb(156, 163, 175);
  border-width: 1px;
  background-color: rgb(255, 255, 255);
}
.inputSection {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  width: 100%;
  height: 44px;
  border-style: solid;
  border-color: rgb(179, 179, 179);
  border-top-width: 1px;
  background-color: rgb(240, 240, 240);
}
.chatbotPane {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: -91px;
  border-radius: 16px;
  position: absolute;
  width: 211px;
  left: 40px;
  height: 311px;
  top: 185px;
  border-style: solid;
  border-color: rgb(156, 163, 175);
  border-width: 1px;
  background-color: rgb(255, 255, 255);
}
.workpayComponent {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  position: relative;
  background-color: rgb(255, 255, 255);
  font-family: Inter;
}
