.xCellVideoPreview0 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 6px;
  height: fit-content;
  width: fit-content;
}
.xCellVideoPreview1 {
  position: relative;
  width: 200px;
  height: 112px;
}
.xCellVideoPreview2 {
  position: relative;
  left: calc(0%);
  right: calc(0%);
  width: calc(100%);
  top: calc(0%);
  bottom: calc(0%);
  height: calc(100%);
  background: linear-gradient(
    225deg,
    rgb(140, 175, 242, 1) 0%,
    rgb(18, 209, 209, 1) 100%
  );
  overflow: hidden;
}
.xCellVideoPreview3 {
  position: relative;
  left: calc(37.5%);
  right: calc(37.5%);
  width: calc(25%);
  top: calc(27.67857142857143%);
  bottom: calc(27.67857142857143%);
  height: calc(44.64285714285714%);
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}
.xCellVideoPreview4 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: calc(19.5%);
  height: calc(18.750000000000007%);
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 2px;
  position: absolute;
  left: calc(77%);
  right: calc(3.5000000000000004%);
  top: calc(73.21428571428571%);
  bottom: calc(8.035714285714286%);
  background-color: rgb(0, 0, 0, 0.5);
}
.xCellVideoPreview5 {
  width: fit-content;
  white-space: nowrap;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: rgb(255, 255, 255);
  font-size: 12.5px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 15px;
}
.xCellVideoPreview6 {
  position: absolute;
  left: calc(47%);
  right: calc(44.5%);
  width: calc(8.5%);
  top: calc(39.285714285714285%);
  bottom: calc(39.285714285714285%);
  height: calc(21.42857142857143%);
  object-fit: cover;
  opacity: 1;
}
.xCellVideoPreview7 {
  height: fit-content;
  width: 200px;
  color: rgb(42, 88, 133);
  font-size: 12.5px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.399999976158142em;
}
