.xLinksContainerImage0 {
  width: 135px;
  height: 92px;
  position: relative;
}
.xLinksContainerImage1 {
  position: absolute;
  left: calc(0%);
  right: calc(0%);
  width: calc(100%);
  top: calc(0%);
  bottom: calc(0%);
  height: calc(100%);
  background: linear-gradient(
    225deg,
    rgb(140, 175, 242, 1) 0%,
    rgb(18, 209, 209, 1) 100%
  );
  border-radius: 3px;
}
