.xSimilarTitleLayout0 {
  width: 510px;
  height: 48px;
}
.xSimilarTitleLayout1 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 46.45px;
  right: -0.45px;
  top: calc(50% - 9px);
  color: rgb(42, 88, 133);
  font-size: 13px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 18px;
}
